@keyframes headerSlideDown {
    from {
        top: -200px
    }
    to {
        top: 0px;
    }
}
@-webkit-keyframes headerSlideDown {
    from {
        top: -200px
    }
    to {
        top: 0px;
    }
}
.header {
    position: relative;
    z-index: 101;
    background-color: $color--bg-main;
    border-top: solid 3px $color--bg-alter;
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
    &.header--position-fixed {
        //position: fixed;
        //-webkit-box-shadow: 0 0 10px rgba($color--bg-dark, 0.2);
        //-moz-box-shadow: 0 0 10px rgba($color--bg-dark, 0.2);
        //box-shadow: 0 0 10px rgba($color--bg-dark, 0.2);
        //top: -200px;
        //-webkit-animation: headerSlideDown .3s 1 ease-in-out;
        //animation: headerSlideDown .3s 1 ease-in-out;
        //-webkit-animation-fill-mode: forwards;
        //animation-fill-mode: forwards;
    }
}
.header__top-area {
    padding: 15px 0 0;
    text-align: right;
}
.header__bottom-area {
    padding: 18px 0 0;
}

.logo {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    width: 184px;
    margin: 0 0 0 10%;
    float: left;
}
.logo__img {
    display: block;
    max-width: 100%;
    height: auto;
}


.header__info {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0;
}
.header__city,
.header__contacts,
.header__menu,
.header__user,
.header__catalog,
.header__cart,
.header-comparision {
    display: none;
}
.header__navigation {
    display: inline-block;
    vertical-align: top;
}
.header__callback {
    margin: 0 0 0 13px;
    display: inline-block;
    vertical-align: top;
    .link--type-dashed {
        border-width: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .link--type-dashed:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        @include sprite-sprite(icon-phone);
    }
}
.header__mobile-cart {
    margin: 0 0 0 13px;
    display: inline-block;
    vertical-align: top;
}
.mobile-cart {
    display: block;
    width: 16px;
    height: 1px;
    font-size: 16px;
    line-height: 1em;
    text-decoration: none;
    font-family: $font--family-icons;
    position: relative;
    &:before {
        content: '\e806';
        display: block;
    }
}
.mobile-cart__counter {
    position: absolute;
    top: -9px;
    right: -5px;
    display: inline-block;
    vertical-align: top;
    height: 14px;
    min-width: 9px;
    padding: 0 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 400 normal 11px/15px $font--family-main;
    background-color: $color--bd-hover;
    color: $color--text-alter;
    text-align: center;
}


.header__mobile-catalog-button {
    position: absolute;
    left: 10px;
    top: 8px;
    width: 20px;
    height: 16px;
    font: 400 normal 16px/16px $font--family-icons;
    text-align: center;
    cursor: pointer;
    color: $color--text-accent;
    &:before {
        content: '\e816';
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }
    &.header__mobile-catalog-button--state-active:before {
        content: '\e808';
        font-size: 16px;
    }
}







.block-search {
    position: relative;
    height: 38px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: $color--bg-main;
    //border: solid 1px rgba($color--bd-dark, 0.15);
    ///padding: 0 36px 0 0;
    //&:focus {
    //    border-color: $color--bg-alter;
    //}
    .input--type-text {
        border: solid 1px rgba($color--bd-dark, 0.15);
        background: none;
        padding: 8px 45px 10px 9px;
        font-size: 14px;
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        transition: border-color 0.3s;
        &:focus {
            border-color: $color--bg-alter;
        }
    }
    .input--type-button {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 36px;
        height: 36px;
        background: none;
        color: $color--text-accent;
        text-align: center;
        font: 400 normal 16px/36px $font--family-icons;
        z-index: 2;
    }
    .input--type-button:before {
        content: '\e81e';
    }
}


.mobile-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: $color--bg-main;
    width: 320px;
    z-index: 102;
    -webkit-box-shadow: 0 4px 4px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 0 4px 4px rgba($color--bd-dark, 0.25);
    box-shadow: 0 4px 4px rgba($color--bd-dark, 0.25);
    display: none;
}
.mobile-menu__item {
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    border-top: solid 1px rgba($color--bg-alter, 0.2);
    color: $color--text-accent;
    padding: 8px 30px 8px 10px;
    position: relative;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    &.mobile-menu__item--more:after {
        content: '\e81a';
        position: absolute;
        display: block;
        width: 9px;
        height: 16px;
        font: 400 normal 16px/1em $font--family-icons;
        right: 10px;
        top: 50%;
        margin: -8px 0 0;
    }
    &:hover {
        background-color: rgba($color--bg-alter, 0.2);
        text-decoration: none;
        color: $color--text-accent;
    }
}
.mobile-menu__catalog {
    padding: 0 0 0 30px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin: -8px 0 0;
        @include sprite-sprite(icon-table);
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-accent;
    }
}
.mobile-menu__cart {
    padding: 0 0 0 30px;
    position: relative;
    &:before {
        content: '\e806';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin: -8px 0 0;
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-accent;
    }
}
.mobile-menu__authorization {
    padding: 0 0 0 30px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin: -8px 0 0;
        @include sprite-sprite(icon-person);
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-accent;
    }
}
.mobile-menu__phone {
    padding: 0 0 0 30px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin: -8px 0 0;
        @include sprite-sprite(icon-phone);
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-accent;
    }
}
.mobile-menu__counter {
    min-width: 9px;
    padding: 0 2px;
    height: 14px;
    line-height: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -7px 0 0;
    background-color: $color--bg-alter;
    color: $color--text-alter;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.mobile-menu__heading {
    font-size: 18px;
    line-height: 24px;
    background-color: rgba($color--bg-alter, 0.2);
    border-top: solid 1px rgba($color--bg-alter, 0.2);
    padding: 8px 30px 8px 10px;
    color: $color--text-accent;
}
.mobile-content {
    display: none;
}
.mobile-menu__city {
    padding: 8px 10px 10px;
    border-top: solid 1px rgba($color--bg-alter, 0.2);
    .form-field__title {
        font-size: 15px;
    }
    .input--type-text {
        height: 30px;
        padding: 5px 10px;
    }
}

.block-user__login {
    &:before {
        @include sprite-sprite(icon-login);
    }
}