.header__top-area {
    padding: 25px 0 0;
}
.header__bottom-area {
    padding: 15px 0 0;
}


.logo {
    width: 244px;
}




.header__city {
    margin: -2px 0 0 31px;
}
.block-city__value {
    font-size: 16px;
    line-height: 16px;
}











.header__user {
    margin: 6px 0 0;
}





.header__contacts {
    width: 203px;
    margin: 1px 0 0 26px;
}
.block-contacts__phone {
    font-size: 24px;
    line-height: 34px;
    position: relative;
    &:before {
        content: '\e817';
        width: 14px;
        height: 25px;
        font: 400 normal 25px/1em $font--family-icons;
        display: block;
        position: absolute;
        color: $color--text-accent;
        left: -29px;
        top: 3px;
    }
}
.block-contacts__hours {
    margin: 0;
}


.header__navigation {
    font-size: 16px;
    margin: 13px 0 0 27px;
    width: auto;
    white-space: nowrap;
}
.header__callback {
    display: inline-block;
    margin: 0;
}
.header__menu {
    display: inline-block;
    margin: 0 0 0 26px;
    min-width: 140px;
}







.block-dropdown__title-link {
    &:after {
        content: '\e802';
        display: block;
        position: absolute;
        width: 12px;
        height: 6px;
        right: -18px;
        top: 50%;
        margin: -2px 0 0;
        color: rgba($color--text-main, 0.5);
        font: 400 normal 6px/1em $font--family-icons;
    }
}
.block-dropdown__link {
    font-size: 16px;
    line-height: 22px;
}














.header__catalog {
    width: 244px;
    left: 100px;
}
.block-catalog__title {
    &:after {
        content: ' товаров';
    }
}

.block-internal-menu__list {
    display: inline-block;
    vertical-align: top;
}





.header__search {
    width: 860px;
    padding: 0 0 0 264px;
}
.header__cart {
    width: 440px;
    padding: 0 0 0 20px;
}





.header-cart {
    position: relative;
    text-align: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 12px;
    height: 38px;
    line-height: 38px;
    white-space: nowrap;
    background-color: $color--bg-alter;
    color: $color--text-alter;
}
.header-cart__title {
    float: left;
    position: relative;
    text-transform: uppercase;
    padding: 0 0 0 27px;
    font-size: 16px;
    &:before {
        content: '\e806';
        font: 400 normal 16px/1em $font--family-icons;
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 11px;
    }
}
.header-cart__calculate a {
    color: $color--text-alter;
    font-size: 15px;
}
.header-cart__counter,
.header-cart__summ {
    font-weight: 500;
    position: relative;
}