.header__top-area {
    padding: 20px 0 0;
}
.header__bottom-area {
    padding: 16px 0 0;
}


.logo {
    width: 244px;
    margin: 0 0 0 10%;
}



.header__info {
    margin: 13px 0 0;
}
.header__callback {
    margin: 0 0 0 30px;
}
.header__mobile-cart {
    margin: 0 0 0 30px;
}


.header__city {
    display: inline-block;
    vertical-align: top;
    margin: -2px 0 0 7%;
    float: left;
    text-align: left;
    max-width: 145px;
}
.block-city__title {
    font-size: 13px;
    line-height: 20px;
}
.block-city__value {
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0 0;
}


.header__mobile-catalog-button {
    top: 14px;
    width: 16px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    &:before {
        font-size: 12px;
    }
    &.header__mobile-catalog-button--state-active:before {
        font-size: 14px;
    }
}




.block-search {
    .input--type-text {
        padding: 7px 9px 9px;
        font-size: 16px;
    }
}