.header__top-area {
    padding: 31px 0 0;
}
.header__bottom-area {
    padding: 22px 0 0;
}


.logo {
    width: 184px;
    margin: 0;
}



.header__mobile-cart,
.header__mobile-catalog-button {
    display: none;
}


.header__city {
    margin: 0 0 0 31px;
    max-width: 165px;
}
.block-city__value {
    font-size: 13px;
    line-height: 13px;
    margin: 5px 0 0;
}







//.header__callback {
//    margin: 0 0 0 30px;
//}
//
//
//
//
//.block-search {
//    .input--type-text {
//        padding: 7px 9px 9px;
//        font-size: 16px;
//    }
//}



.header__user {
    display: inline-block;
    vertical-align: top;
}
.block-user {
    white-space: nowrap;
    width: 270px;
}
.block-user__action {
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    font-size: 13px;
    margin: 2px 0 0 15px;
}
.block-user__name,
.block-user__login {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 15px;
    height: 27px;
    line-height: 26px;
    font-size: 13px;
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 199px;
    background-color: $color--bg-light;
}
.block-user__login {
    padding-left: 30px;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 14px;
        color: $color--text-accent;
        font: 400 normal 14px/1em $font--family-icons;
        left: 8px;
        top: 50%;
        margin: -7px 0 0;
    }
}




.header__info {
    margin: 0;
}
.header__contacts {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    margin: -5px 0 0 26px;
}
.block-contacts {
    white-space: nowrap;
    text-align: left;
}
.block-contacts__phone {
    font-size: 20px;
    line-height: 25px;
}
.block-contacts__hours {
    font-size: 13px;
    line-height: 20px;
    color: $color--text-dark;
    margin: 2px 0 0;
}


.header__navigation {
    font-size: 13px;
    line-height: 1em;
    text-align: left;
    margin: 0 0 0 12px;
    width: 120px;
    position: relative;
}
.header__callback {
    display: block;
    margin: 3px 0 0;
    .link--type-dashed {
        border-width: 1px;
    }
    .link--type-dashed:before {
        display: none;
    }
}
.header__menu {
    display: block;
    margin: 8px 0 0;
}






.block-dropdown {
    position: relative;
    z-index: 5;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    margin: -8px -13px 0 -13px;
}
.block-dropdown__inner {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.block-dropdown__title{
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
}
.block-dropdown__title-link {
    line-height: 1em;
    cursor: pointer;
    display: inline;
    border-bottom: dashed 1px rgba($color--text-accent, 0.4);
    color: $color--text-accent;
    white-space: nowrap;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    -ms-transition: color 0.3s, border-color 0.3s;
    -o-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    margin: 0 18px 0 0;
    position: relative;
    &:hover {
        color: $color--text-hover;
        border-color: rgba($color--text-hover, 0.4);
    }
}
.block-dropdown__list {
    display: none;
    position: relative;
    min-width: 100%;
    background-color: $color--bg-main;
    list-style: none;
    margin: 0;
    padding: 0 0 5px;
}
.block-dropdown__item {
    display: block;
}
.block-dropdown__link {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    padding: 4px 13px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:hover {
        text-decoration: none;
        color: $color--text-accent;
        background-color: rgba($color--bg-alter, 0.1);
    }
}
.block-dropdown--state-active {
    .block-dropdown__inner {
        background-color: $color--bg-main;
        -webkit-box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
        -moz-box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
        box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
    }
    .block-dropdown__title-link {
        border-color: transparent;
    }
    .block-dropdown__title-link:after {
        display: none;
    }
}








.header__catalog {
    display: block;
    position: absolute;
    width: 184px;
    left: 20px;
    top: 0;
    z-index: 2;
}
.block-catalog__title {
    position: relative;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 40px 0 13px;
    background-color: $color--bg-alter;
    color: $color--text-alter;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    letter-spacing: 0.5px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:hover,
    &.block-catalog__title--state-active {
        background-color: $color--bd-hover;
    }
    &:before {
        content: '\e816';
        font: 400 normal 12px/1em $font--family-icons;
        width: 16px;
        height: 12px;
        display: block;
        position: absolute;
        right: 12px;
        top: 50%;
        margin: -6px 0 0;
        color: $color--text-alter;
    }
    &.block-catalog__title--state-active:before {
        content: '\e808';
    }
}
.block-catalog__content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    background-color: $color--bg-main;
    -webkit-box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
    box-shadow: 0 0 5px rgba($color--bd-dark, 0.25);
    margin: 4px 0 0;
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
}
.block-catalog__menu {
    list-style: none;
    margin: 0;
    padding: 2px 0;
    width: 277px;
    white-space: normal;
}
.catalog-item__link {
    display: block;
    position: relative;
    padding: 7px 14px 7px 48px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color--text-accent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        background-color: $color--bg-alter;
        color: $color--text-alter;
    }
}
.catalog-item:hover .catalog-item__link {
    background-color: $color--bg-alter;
    color: $color--text-alter;
}
.catalog-item__thumb {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 50%;
    margin: -12px 0 0;
}
.has-children > .catalog-item__link {
    padding-right: 24px;
    &:after {
        content: '\e81a';
        display: block;
        position: absolute;
        width: 5px;
        height: 10px;
        font: 400 normal 10px/1em $font--family-icons;
        color: lighten($color--text-accent, 32%);
        right: 9px;
        top: 50%;
        margin: -5px 0 0;
    }
}

.block-catalog__submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    width: 323px;
    border-left: solid 1px #dbeaf7;
    background-color: #f3f8fc;
    position: absolute;
    left: 100%;
    top: 0;
    min-height: 100%;
    -webkit-box-shadow: 3px 0 5px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 3px 0 5px rgba($color--bd-dark, 0.25);
    box-shadow: 3px 0 5px rgba($color--bd-dark, 0.25);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.block-catalog__submenu-link {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: $color--text-accent;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:hover {
        background-color: #dbeaf7;
        text-decoration: none;
        color: $color--text-accent;
    }
}
.block-catalog__submenu-item:hover .block-catalog__submenu-link {
    background-color: #dbeaf7;
    color: $color--text-accent;
}
.has-children > .block-catalog__submenu-link {
    padding-right: 24px;
    position: relative;
    &:after {
        content: '\e81a';
        display: block;
        position: absolute;
        width: 5px;
        height: 10px;
        font: 400 normal 10px/1em $font--family-icons;
        color: lighten($color--text-accent, 32%);
        right: 9px;
        top: 50%;
        margin: -5px 0 0;
    }
}


.block-catalog__internalmenu {
    display: none;
    position: absolute;
    left: 100%;
    height: 100%;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: solid 1px #dbeaf7;
    background-color: #f3f8fc;
    -webkit-box-shadow: 2px 0 3px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 2px 0 3px rgba($color--bd-dark, 0.25);
    box-shadow: 2px 0 3px rgba($color--bd-dark, 0.25);
    max-width: 665px;
    overflow: auto;
    white-space: nowrap;
    line-height: 1;
    font-size: 0;
}
.block-internal-menu__title {
    text-transform: uppercase;
    padding: 11px 10px 6px;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
}
.block-internal-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 324px;
    display: block;
}
.block-internal-menu__link {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: $color--text-accent;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:hover {
        background-color: #dbeaf7;
        text-decoration: none;
        color: $color--text-accent;
    }
}





.header__search {
    display: inline-block;
    vertical-align: top;
    width: 65.9%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 204px;
}
.header__cart {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 34.1%;
    padding: 0 0 0 21px;
}





.header-cart {
    position: relative;
    text-align: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 12px;
    height: 38px;
    line-height: 38px;
    white-space: nowrap;
    background-color: $color--bg-alter;
    color: $color--text-alter;
}
.header-cart__title {
    float: left;
    position: relative;
    text-transform: uppercase;
    padding: 0 0 0 27px;
    font-size: 16px;
    &:before {
        content: '\e806';
        font: 400 normal 16px/1em $font--family-icons;
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        left: 0;
        top: 11px;
    }
}
.header-cart__calculate a {
    color: $color--text-alter;
    font-size: 15px;
}
.header-cart__counter,
.header-cart__summ {
    font-weight: 500;
    position: relative;
}