.container {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: $color--bg-main;
	//&.fixed {
	//	height: 100%;
	//	overflow: hidden;
	//}
}

.content__section {
	padding: 0 0 17px;
}
	

.layout-row {
	padding: 0 10px;
	position: relative;
}



.wrapper-columns {
	margin: 0 -10px;
	font-size: 0;
	line-height: 1;
}
.block-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	&.with-separator:before {
		content: '–';
		position: absolute;
		display: block;
		line-height: 28px;
		width: 20px;
		height: 30px;
		left: -10px;
		text-align: center;
		top: 0;
	}
}
.block-column--1-2 {
	width: 50%;
}
.block-column--1-3 {
	width: 33.3333%;
}
.block-column--2-3 {
	width: 66.6666%;
}


.sidebar {
	margin: 20px 0 0;
}