.content__section {
    padding: 0 0 32px;
}

.layout-row {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 25.38%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    margin: 0;
}
.sidebar--position-left {
    float: left;
}
.sidebar + .main-content {
    float: left;
    width: 74.62%;
}