/************************   BUTTONS start  *************************/
.button--size-small {
    padding: 0 13px;
    font-size: 14px;
    line-height: 30px;
    height: 32px;
}
.button--size-medium {
    font-size: 14px;
}
.button--size-large {
    font-size: 20px;
    height: 52px;
    line-height: 50px;
    padding: 0 25px;
}
.button--two-line {
    font-size: 12px;
    line-height: 1.2em;
    padding-top: 1px;
    padding-bottom: 1px;
}
/************************   BUTTONS end  *************************/

/************************   TABS start  *************************/
.block-tabs--type-form {
    .block-tabs__control-item {
        text-align: left;
        padding: 0 10px;
        display: inline-block;
        vertical-align: top;
    }
    .block-tabs__control-item + .block-tabs__control-item {
        margin: 0 0 0 10px;
    }

    //.block-tabs__content {
    //    max-width: 508px;
    //}
}
/************************   TABS end  *************************/

/************************   ESTIMATE start  *************************/
.block-estimate {
    width: 120px;
    height: 20px;
}
.block-estimate__star {
    margin: 0 0 0 3px;
    width: 21px;
    height: 20px;
    font-size: 20px;
}
/************************   ESTIMATE end  *************************/