/************************   BUTTONS start  *************************/
.button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px transparent;
	&:hover {
		text-decoration: none;
	}

	&.button--type-fill {
		color: $color--text-alter;
		border-color: $color--bg-alter;
		background-color: $color--bg-alter;
	}
	&.button--type-fill:hover {
		border-color: $color--bd-hover;
		background-color: $color--bd-hover;
	}

	&.button--type-stroke {
		color: $color--text-accent;
		border-color: rgba($color--bg-alter, 0.3);
		background-color: transparent;
	}
	&.button--type-stroke:hover {
		border-color: $color--bd-hover;
		color: $color--text-hover;
	}
	.icon--close {
		font: 400 normal 14px $font--family-icons;
		margin: 0 8px 0 -8px;
		&:before {
			content: '\e808';
		}
	}
}

.button--size-small {
	padding: 0 15px;
	font-size: 13px;
	line-height: 25px;
	height: 27px;
}
.button--size-medium {
	padding: 0 15px;
	font-size: 13px;
	line-height: 30px;
	height: 32px;
}
.button--size-large {
	padding: 0 15px;
	font-size: 13px;
	line-height: 30px;
	height: 32px;
}

.button--two-line {
	font-size: 12px;
	line-height: 1.2em;
	padding-top: 1px;
	padding-bottom: 1px;
}
/************************   BUTTONS end  *************************/

/************************   TABS start  *************************/
.block-tabs {
	.tab {
		display: none;
	}
	.tab.tab--state-active {
		display: block;
	}
}
.block-tabs__control {
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-tabs__content {
	&.block-tabs__content--accent {
		margin: 20px 0 0;
		position: relative;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: $color--bg-main;
		padding: 14px 20px 20px;
		.block-form__text {
			color: $color--text-dark;
		}
	}
}

.block-tabs--type-form {
	.block-tabs__control {
		margin: -5px -10px 0;
	}
	.block-tabs__control.block-tabs__control--margin {
		margin: 18px 0 0;
	}
	.block-tabs__control-item {
		line-height: 32px;
		height: 32px;
		text-align: center;
		cursor: pointer;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		transition: background-color 0.3s;
		position: relative;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: transparent;
	}
	.block-tabs__control-item.block-tabs__control-item--state-active {
		background-color: $color--bg-alter;
	}
	.block-tabs__control-item + .block-tabs__control-item {
		margin: 10px 0 0;
	}
	.block-tabs__control-link {
		color: $color--text-accent;
		line-height: 1;
		border-bottom: dashed 1px rgba($color--text-accent, 0.4);
		-webkit-transition: color 0.3s, border-color 0.3s;
		-moz-transition: color 0.3s, border-color 0.3s;
		-ms-transition: color 0.3s, border-color 0.3s;
		-o-transition: color 0.3s, border-color 0.3s;
		transition: color 0.3s, border-color 0.3s;
	}
	.block-tabs__control-item.block-tabs__control-item--state-active .block-tabs__control-link {
		border-color: transparent;
		color: $color--text-alter;
	}
}
.block-tabs--type-tabs {
	margin: 18px 0 0;
	.block-tabs__control {
		font-size: 0;
		line-height: 1;
		cursor: default;
		white-space: nowrap;
	}
	.block-tabs__control-item {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 31px;
		height: 32px;
		padding: 0 19px;
		position: relative;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		margin: 0 10px 0 0;
		color: $color--text-accent;
		border: solid 1px rgba($color--bg-alter, 0.3);
		border-bottom: none;
		-webkit-transition: color 0.3s, border-color 0.3s;
		-moz-transition: color 0.3s, border-color 0.3s;
		-ms-transition: color 0.3s, border-color 0.3s;
		-o-transition: color 0.3s, border-color 0.3s;
		transition: color 0.3s, border-color 0.3s;
		cursor: pointer;
		&:after {
			content: '';
			width: 100%;
			padding-left: 12px;
			position: absolute;
			height: 1px;
			background-color: $color--bg-alter;
			right: -11px;
			bottom: 0;
		}
	}
	.block-tabs__control-item:hover {
		color: $color--text-hover;
	}
	.block-tabs__control-item.block-tabs__control-item--state-active {
		color: $color--text-main;
		border-color: $color--bg-alter;
		&:after {
			width: 0;
			padding-left: 11px;
		}
	}
}
/************************   TABS end  *************************/

/************************   CHECKBOX start  *************************/
.input--type-checkbox {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 26px;
	min-height: 18px;
	line-height: 18px;
	overflow: hidden;
	margin: 12px 0 0;
	&.input--size-small {
		padding: 0 0 0 22px;
		font-size: 12px;
	}
	&:first-child {
		margin: 0;
	}
	input[type="checkbox"] {
		position: absolute;
		display: block;
		left: 0;
		top: 1px;
		width: 16px;
		height: 16px;
	}
	.checkbox {
		position: absolute;
		width: 14px;
		height: 14px;
		left: 0;
		top: 1px;
		border: solid 1px rgba($color--bd-dark, 0.15);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: $color--bg-main;
		cursor: pointer;
		-webkit-transition: border-color 0.3s;
		-moz-transition: border-color 0.3s;
		-ms-transition: border-color 0.3s;
		-o-transition: border-color 0.3s;
		transition: border-color 0.3s;
	}
	.checkbox:hover {
		border-color: $color--bg-alter;
	}
	//.input__label {
	//	word-wrap: break-word;
	//}
}
.input--type-checkbox.checked {
	.checkbox:before {
		content: '\e807';
		font: 400 normal 15px/1em $font--family-icons;
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		left: 1px;
		top: -3px;
	}
}

.checkbox-set--type-horizontal {
	margin: 0 -18px 0 0;
	.input--type-checkbox {
		margin: 16px 18px 0 0;
	}
}
.checkbox-set--type-vertical {
	&.checkbox-set--additional {
		padding: 14px 0 0;
	}
	.input--type-checkbox {
		margin: 0;
		display: block;
	}
	.input--type-checkbox + .input--type-checkbox {
		margin: 7px 0 0;
	}
}
/************************   CHECKBOX end  *************************/

/************************   RADIO start  *************************/
.input--type-radio {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 26px;
	min-height: 18px;
	line-height: 20px;
	overflow: hidden;
	margin: 12px 0 0;
	&:first-child {
		margin: 0;
	}
	input[type="radio"] {
		position: absolute;
		display: block;
		left: 0;
		top: 2px;
		width: 16px;
		height: 16px;
	}
	.radio {
		position: absolute;
		width: 14px;
		height: 14px;
		left: 0;
		top: 2px;
		border: solid 1px rgba($color--bd-dark, 0.15);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background: $color--bg-main;
		cursor: pointer;
		-webkit-transition: border-color 0.3s;
		-moz-transition: border-color 0.3s;
		-ms-transition: border-color 0.3s;
		-o-transition: border-color 0.3s;
		transition: border-color 0.3s;
	}
	.radio:hover {
		border-color: $color--bg-alter;
	}
}
.input--type-radio.checked {
	.radio:before {
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		position: absolute;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		left: 4px;
		top: 4px;
		background-color: $color--bd-dark;
	}
}

.radio-set--type-vertical {
	&.radio-set--additional {
		padding: 14px 0 0;
	}
	.input--type-radio {
		margin: 0;
		display: block;
	}
	.input--type-radio + .input--type-radio {
		margin: 14px 0 0;
	}
}
.radio-set--type-horizontal {
	margin: 0 -18px 0 0;
	.input--type-radio {
		margin: 0 18px 0 0;
	}
}
/************************   RADIO end  *************************/

/************************   SELECT start  *************************/
.styled-select {
	position: relative;
	height: 38px;
	&.styled-select--type-inline {
		display: inline-block;
		vertical-align: top;
	}
}
.styled-select__select {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 9px 32px 9px 10px;
	outline: none;
	position: relative;
	z-index: 2;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 38px;
	border: solid 1px rgba($color--bd-dark, 0.15);
	color: $color--text-main;
	background-color: $color--bg-main;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	transition: border-color 0.3s;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	&:after {
		content: '\e803';
		width: 12px;
		height: 6px;
		position: absolute;
		display: block;
		font: 400 normal 6px/1em $font--family-icons;
		color: rgba($color--text-main, 0.5);
		right: 9px;
		top: 50%;
		margin: -3px 0 0;
	}
}
.styled-select--state-active .styled-select__select {
	border-color: $color--bg-alter;
}
.styled-select__option-list {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 100%;
	left: 0;
	margin: -1px 0 0;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	border: solid 1px $color--bg-alter;
	background-color: $color--bg-main;
	z-index: 2;
	display: none;
	list-style: none;
	padding: 0;
}
.styled-select--state-active .styled-select__option-list {
	display: block;
}
.styled-select__option {
	padding: 4px 9px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	&.styled-select__option--state-active,
	&:hover {
		background-color: $color--bg-alter;
		color: $color--text-alter;
	}
}

.styled-select--size-small {
	height: 25px;
	.styled-select__select {
		font-size: 13px;
		line-height: 25px;
		padding: 0 24px 0 7px;
		height: 25px;
		&:after {
			width: 6px;
			height: 4px;
			font-size: 4px;
			right: 7px;
			margin: -2px 0 0;
		}
	}
	.styled-select__option {
		padding: 0 7px;
		font-size: 13px;
	}
}
.styled-select--size-medium {
	height: 30px;
	.styled-select__select {
		font-size: 13px;
		line-height: 30px;
		padding: 0 26px 0 8px;
		height: 30px;
		letter-spacing: -0.2px;
	}
	.styled-select__option {
		padding: 0 8px;
		font-size: 13px;
		letter-spacing: -0.2px;
	}
}
/************************   SELECT end  *************************/

/************************   NUMBER start  *************************/
.input--type-number {
	position: relative;
	width: 46px;
	padding: 0 26px;
}
.input__button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: -8px 0 0;
	font: 400 normal 16px/1em $font--family-icons;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	color: $color--text-accent;
	&:hover {
		color: $color--bd-hover;
	}
	&.input__button--plus {
		right: 0;
	}
	&.input__button--plus:before {
		content: '\e81d';
	}
	&.input__button--minus {
		left: 0;
	}
	&.input__button--minus:before {
		content: '\e81b';
	}
}
.input__number {
	width: 46px;
	height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px $color--bd-main;
	color: $color--text-main;
	background-color: $color--bg-main;
	padding: 4px 6px;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
/************************   NUMBER end  *************************/

/************************   FILE start  *************************/
.input--type-file {
	.file {
		color: $color--text-accent;
		text-decoration: underline;
	}
	.button {
		margin: 10px 0 0;
	}
	.input__file {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
		cursor: pointer;
	}
}
/************************   FILE end  *************************/

/************************   FILTERS start  *************************/
.wrapper-filters {
	margin: 52px 0 0;
}
.block-filter {
	margin: 10px 0 0;
}
.block-filter__title {
	display: block;
	padding: 0 18px 0 0;
}
.block-filter__link {
	cursor: pointer;
	display: inline;
	vertical-align: top;
	line-height: 1em;
	border-bottom: dashed 1px rgba($color--text-main, 0.25);
	position: relative;
	-webkit-transition: color 0.3s, border-color 0.3s;
	-moz-transition: color 0.3s, border-color 0.3s;
	-ms-transition: color 0.3s, border-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	&:after {
		content: '\e803';
		width: 12px;
		height: 6px;
		display: block;
		cursor: pointer;
		font: 400 normal 6px/1em $font--family-icons;
		color: rgba($color--text-main, 0.5);
		position: absolute;
		right: -18px;
		top: 5px;
	}
	&.block-filter__link--state-active:after {
		content: '\e822';
	}
	&.block-filter__link--state-active,
	&:hover {
		color: $color--text-accent;
		border-color: rgba($color--bg-alter, 0.25);
	}
	.rub {
		vertical-align: top;
	}
	.rub:after {
		top: 0.16em;
	}
}
.block-filter__content {
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: $color--bg-light;
	padding: 10px;
	margin: 6px 0 20px;
	display: none;
	.input--type-text {
		height: 30px;
		padding: 5px 10px;
	}
	.input__label {
		font-size: 13px;
	}
	.input--size-small .input__label {
		font-size: 12px;
	}
	.block-search {
		height: 30px;
	}
	.block-search .input--type-button {
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}
	.input--type-text,
	.block-search .input--type-text {
		font-size: 13px;
	}
}

.wrapper-filters__reset {
	margin: 10px 0 0;
}
.wrapper-filters__reset-link {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	line-height: 1em;
	color: $color--text-light;
	border-bottom: dashed 1px rgba($color--text-main, 0.25);
	-webkit-transition: color 0.3s, border-color 0.3s;
	-moz-transition: color 0.3s, border-color 0.3s;
	-ms-transition: color 0.3s, border-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	&:hover {
		color: $color--text-hover;
		border-color: rgba($color--bd-hover, 0.25);
	}
}
.block-filter__scroll {
	overflow: auto;
	max-height: 174px;
	margin: 10px 10px 0 0;
}
.block-filter__all {
	margin: 10px 0 0;
}
.block-filter__all-link {
	cursor: pointer;
	color: $color--text-light;
	line-height: 1em;
	border-bottom: dashed 1px rgba($color--text-dark, 0.4);
	-webkit-transition: color 0.3s, border-color 0.3s;
	-moz-transition: color 0.3s, border-color 0.3s;
	-ms-transition: color 0.3s, border-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	&:hover {
		color: $color--text-hover;
		border-color: rgba($color--text-hover, 0.4);
	}
}
/************************   FILTERS end  *************************/

/************************   ESTIMATE start  *************************/
.block-estimate {
	white-space: nowrap;
	width: 190px;
	height: 31px;
	font-size: 0;
	line-height: 1;
	text-align: right;
	position: relative;
	overflow: hidden;
}
.block-estimate__value {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	input[type="radio"] {
		position: absolute;
		left: -100px;
		top: 0;
	}
	.block-estimate__star {
		color: #f44d3e;
		opacity: 0;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
}
.block-estimate__star {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 5px;
	width: 33px;
	height: 31px;
	font: 400 normal 31px/1em $font--family-icons;
	color: #cccccc;
	cursor: pointer;
	&:before {
		content: '\e81f';
		position: relative;
		z-index: 2;
	}
}
.block-estimate__value:hover,
.block-estimate__value--state-active {
	.block-estimate__star {
		opacity: 1;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	}
}
/************************   ESTIMATE end  *************************/

/************************   TOOLTIP start  *************************/
.tooltip {
	position: relative;
}
.tooltip__content {
	display: none;
}
.tooltip--type-message {
	z-index: 5;
	.tooltip__content {
		padding: 12px 15px 15px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: $color--bg-main;
		position: absolute;
		top: 100%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		margin: 20px 0 0;
		-webkit-box-shadow: 0px 0px 4px rgba($color--bd-dark, 0.25);
		-moz-box-shadow: 0px 0px 4px rgba($color--bd-dark, 0.25);
		box-shadow: 0px 0px 4px rgba($color--bd-dark, 0.25);
		&:before {
			content: '';
			width: 12px;
			height: 12px;
			background-color: $color--bg-main;
			-webkit-box-shadow: -2px -2px 1px rgba($color--bd-dark, 0.05);
			-moz-box-shadow: -2px -2px 1px rgba($color--bd-dark, 0.05);
			box-shadow: -2px -2px 1px rgba($color--bd-dark, 0.05);
			position: absolute;
			display: block;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			top: -6px;
			left: 50%;
			margin: 0 0 0 -6px;
		}
	}
	.tooltip__title {
		font-size: 17px;
		line-height: 22px;
	}
	.tooltip__buttons {
		margin: 12px 0 0;
		font-size: 0;
		line-height: 1;
	}
	.tooltip__buttons .button {
		margin: 0 8px;
	}
}
.tooltip--size-small {
	.tooltip__content {
		width: 256px;
		text-align: center;
	}
}
/************************   TOOLTIP end  *************************/