.input--type-text,
.input--type-textarea,
.input__datepicker {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 9px 10px;
	outline: none;
	position: relative;
	z-index: 2;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 38px;
	border: solid 1px rgba($color--bd-dark, 0.15);
	color: $color--text-main;
	background-color: $color--bg-main;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	transition: border-color 0.3s;
	&:focus {
		border-color: $color--bg-alter;
	}
}
.input--type-textarea {
	height: 74px;
	overflow: auto;
	resize: none;
}
.input--type-text.error,
.input--type-textarea.error {
	padding-right: 38px;
	border-color: $color--bd-hover;
	background: rgba($color--bd-hover, 0.01) url('../images/input-error.png') center right no-repeat;
	color: $color--text-hover;
}
.input--type-text.success,
.input--type-textarea.success {
	padding-right: 38px;
	border-color: rgba(65, 173, 73, 0.5);
	background: rgba(65, 173, 73, 0.01) url('../images/input-success.png') center right no-repeat;
}
.input--type-datepicker {
	position: relative;
	height: 38px;
	.input__datepicker {
		padding-right: 38px;
		cursor: pointer;
	}
	button {
		position: absolute;
		width: 16px;
		height: 16px;
		display: block;
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
		top: 11px;
		right: 11px;
		font-size: 0;
		line-height: 1;
		margin: 0;
		padding: 0;
		z-index: 2;
		&:before {
			content: '\e805';
			display: block;
			width: 16px;
			height: 16px;
			font: 400 normal 16px/1em $font--family-icons;
			color: #bebebe;
		}
	}
}
.input--type-button {
	border: none;
	white-space: normal;
	outline: none;
}
.input--type-button.button--size-large {
	margin: 20px auto 0;
	display: block;
	width: 100%;
}
	
	
.input__description {
	line-height: 20px;
	color: $color--text-light;
	display: none;
}
.checked .input__description {
	display: block;
}

	
.block-form {
	background-color: $color--bg-light;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px 20px 20px;
	strong {
		font-weight: 500;
	}
}
.block-form__text {
	line-height: 18px;
}
.block-form__description {
	color: $color--text-dark;
	margin: 18px 0 0;
}
.form-field {
	margin: 18px 0 0;
	position: relative;
	&.form-field--position-first {
		margin: 0;
	}
}
.form-field__description {
	color: $color--text-light;
	font-size: 12px;
	line-height: 14px;
	margin: 10px 0 0;
}
.form-field__title {
	margin: 0 0 8px;
	display: block;
	color: $color--text-main;
}
.form-field--type-line .form-field__title {
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px 0 0;
}
.form-field__title--required:after {
	content: ' *';
	color: $color--text-light;
}
.form-field__side-description {
	position: absolute;
	width: 100%;
	left: 100%;
	color: $color--text-light;
	line-height: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px 0 0 20px;
}
.form__footer {
	margin: 20px 0 0;
	text-align: right;
	line-height: 30px;
	.button {
		float: left;
		min-width: 92px;
		max-width: 50%;
	}
}
.form-side-comment {
	font-size: 12px;
	line-height: 16px;
	color: $color--text-light;
	text-align: left;
	margin: 20px 0 -12px;
	float: left;
	width: 100%;
}

.block-form-total {
	margin: 18px 0 0;
	&.block-form-total--type-wide {
		margin: 18px -20px 0;
	}
}
.block-form-total__table {
	border: solid 1px #cdcfd1;
	width: 100%;
	td {
		text-align: right;
		color: $color--text-light;
		padding: 3px 14px;
	}
	td:first-child {
		text-align: left;
	}
	tr:first-child td {
		padding-top: 6px;
	}
	tr:last-child td {
		padding-bottom: 8px;
	}
	.rub:after {
		top: 0.16em;
	}
}
.block-form-total__value {
	text-align: right;
	margin: 16px 0 0;
	font-size: 15px;
}
.block-form-total--type-wide {
	.block-form-total__value {
		padding: 0 20px;
	}
}


.block-hours__table {
	width: 100%;
	td {
		padding: 0 26px 0 0;
		vertical-align: top;
		text-align: left;
		white-space: nowrap;
	}
}

.form-field__estimate {
	display: inline-block;
	vertical-align: middle;
}


.form-more {
	margin: 20px -10px 0;
	font-size: 0;
}
.form-more__link {
	display: inline-block;
	margin: 0 10px;
	color: $color--text-light;
	font-size: 14px;
}
	
	
	
	
	

.input--type-text::-webkit-input-placeholder,
.input--type-textarea::-webkit-input-placeholder {
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	color: $color--text-light;
}
.input--type-text::-moz-placeholder,
.input--type-textarea::-moz-placeholder {
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	color: $color--text-light;
}
.input--type-text:-moz-placeholder,
.input--type-textarea:-moz-placeholder {
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	color: $color--text-light;
}
.input--type-text:-ms-input-placeholder,
.input--type-textarea:-ms-input-placeholder {
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	color: $color--text-light;
}


.input--type-text.error::-webkit-input-placeholder,
.input--type-textarea.error::-webkit-input-placeholder {
	color: $color--text-hover;
}
.input--type-text.error::-moz-placeholder,
.input--type-textarea.error::-moz-placeholder {
	color: $color--text-hover;
}
.input--type-text.error:-moz-placeholder,
.input--type-textarea.error:-moz-placeholder {
	color: $color--text-hover;
}
.input--type-text.error:-ms-input-placeholder,
.input--type-textarea.error:-ms-input-placeholder {
	color: $color--text-hover;
}
	
.block-error {
	display: none !important;
}