.input--type-button.button--size-large {
    display: inline-block;
    min-width: 243px;
    width: auto;
}




.block-form-total,
.block-form-total.block-form-total--type-wide {
    margin: 28px 0 0;
}
.block-form-total__table {
    tr:first-child td {
        padding-top: 12px;
    }
    tr:last-child td {
        padding-bottom: 14px;
    }
}
.block-form-total__value,
.block-form-total.block-form-total--type-wide .block-form-total__value {
    font-size: 17px;
    padding: 0;
    .rub:after {
        top: 0.14em;
        left: -2px;
    }
}

.block-hours__table {
    width: auto;
}

.form-side-comment {
    text-align: right;
    width: auto;
    float: none;
    margin: 10px 0 0;
}