.footer__info {
    width: 396px;
    padding: 0 60px 0 0;
}
.footer__catalog {
    width: 396px;
}
.footer__menu {
    width: 198px;
}
.footer__contacts {
    width: 310px;
}
.footer__text {
    width: 990px;
}
.footer__producer {
    width: 310px;
}





.footer-logo {
    width: 247px;
    margin: -4px 0 0;
}
.footer-contacts__phone {
    display: inline-block;
}
.footer-contacts__callback {
    display: inline-block;
    margin: 0 0 0 18px;
}