.footer {
    padding: 34px 0 23px;
}

.footer__info {
    width: 30.6%;
    padding: 0 30px 0 0;
    margin: 0;
}
.footer__catalog {
    width: 30.6%;
    padding: 0 20px 0 0;
    margin: 0;
}
.footer__menu {
    width: 15.3%;
    padding: 0 20px 0 0;
    margin: 0;
}
.footer__contacts {
    width: 23.5%;
    padding: 0;
    margin: 0;
}
.footer__text {
    width: 76.5%;
    padding: 0 20px 0 0;
    margin: 0;
}
.footer__producer {
    width: 23.5%;
    padding: 0;
    margin: 0;
}





.footer-logo {
    width: 184px;
    margin: 8px 0 0;
}
.footer-contacts__phone {
    display: block;
}
.footer-contacts__callback {
    display: block;
    margin: 8px 0 0;
}