.footer__bottom-area {
    padding: 20px 0 0;
}

.footer__info {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 51.37%;
    padding: 0 45px 0 0;
}
.footer__catalog {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.63%;
}
.footer__menu {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25.62%;
    padding: 0 30px 0 0;
    margin: 38px 0 0;
}
.footer__contacts {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.38%;
    margin: 38px 0 0;
}
.footer__text {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 76.99%;
    padding: 0 50px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: $color--text-dark;
}
.footer__producer {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 23.01%;
}

.footer__version {
    display: none;
}

.footer-logo {
    display: block;
    width: 247px;
}
.footer-logo__img {
    display: block;
    width: 100%;
}
.footer__copyright {
    margin: 18px 0 0;
    font-size: 14px;
}
.footer__sitemap {
    display: block;
    font-size: 14px;
    line-height: 20px;
    a {
        color: $color--text-dark;
    }
    a:hover {
        color: $color--text-hover;
    }
}
.footer__attention {
    display: block;
    margin: 14px 0 0;
    color: $color--text-dark;
    font-size: 14px;
    line-height: 20px;
}
.footer__market {
    display: block;
    margin: 14px 0 0;
    white-space: nowrap;
}
.block-market__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 18px 0 0;
    display: inline-block;
    vertical-align: top;
}
.block-market__rate {
    display: inline-block;
    vertical-align: top;
    margin: 7px 0 0;
}

.footer__title {
    margin: 0 0 8px;
    font-size: 17px;
    line-height: 24px;
}

.menu--type-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    .menu__item {
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        margin: 0 0 6px;
    }
}


.footer-contacts {
    font-size: 14px;
}
.footer-contacts__phone {
    font-size: 17px;
    line-height: 24px;
    vertical-align: baseline;
}
.footer-contacts__callback {
    vertical-align: baseline;
}
.footer-contacts__hours {
    margin: 8px 0 0;
}
.footer-contacts__address {
    margin: 20px 0 0;
}
.footer-contacts__mail {
    margin: 20px 0 0;
}


.block-producer {
    opacity: 0.4;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
}
.block-producer__logo {
    display: block;
    width: 106px;
    margin: -38px 0 0;
}
.block-producer__mobile {
    display: none;
}
.block-producer__services {
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}
.block-producer__service {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0 0;
    a {
        color: $color--text-light;
    }
    a:hover {
        color: $color--text-hover;
    }
}