.footer {
    padding: 19px 0 17px;
    position: relative;
    z-index: 3;
    background-color: $color--bg-light;
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
    .layout-row {
        white-space: normal;
    }
}
.footer__bottom-area {
    padding: 13px 0 0;
}
.footer-logo,
.footer__sitemap,
.footer__attention,
.footer__market,
.footer__catalog,
.footer__menu,
.footer__text {
    display: none;
}
.footer__copyright {
    font-size: 13px;
    line-height: 20px;
}

.footer__contacts {
    margin: 10px 0 0;
    font-size: 13px;
    line-height: 20px;
}
.footer-contacts__phone {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 17px;
    position: relative;
    &:before {
        content: '\e81c';
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        font: 400 normal 12px/1em $font--family-icons;
        color: $color--text-accent;
        left: 0;
        top: 50%;
        margin: -6px 0 0;
    }
}
.footer-contacts__callback {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
}
.footer-contacts__hours {
    color: $color--text-dark;
}
.footer-contacts__address {
    margin: 10px 0 0;
}
.footer-contacts__mail {
    margin: 9px 0 0;
}
.block-mail__item {
    position: relative;
    padding: 0 0 0 20px;
    &:before {
        content: '\e810';
        position: absolute;
        display: block;
        width: 12px;
        height: 9px;
        font: 400 normal 9px/1em $font--family-icons;
        color: $color--text-accent;
        left: 0;
        top: 50%;
        margin: -4px 0 0;
    }
}


.block-producer__logo,
.block-producer__services {
    display: none;
}
.block-producer__mobile {
    font-size: 12px;
    line-height: 17px;
    color: $color--text-light;
    a {
        color: $color--text-light;
    }
    a:hover {
        color: $color--text-hover;
    }
}

.footer__version {
    font-size: 13px;
    line-height: 20px;
    margin: 10px 0 0;
}