@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-Regular.eot');
	src: url('../fonts/ClinicaPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ClinicaPro-Regular.woff') format('woff'),
		 url('../fonts/ClinicaPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-Italic.eot');
	src: url('../fonts/ClinicaPro-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ClinicaPro-Italic.woff') format('woff'),
		 url('../fonts/ClinicaPro-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-Medium.eot');
	src: url('../fonts/ClinicaPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-Medium.woff') format('woff'),
	url('../fonts/ClinicaPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-MediumItalic.eot');
	src: url('../fonts/ClinicaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-MediumItalic.woff') format('woff'),
	url('../fonts/ClinicaPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-SemiBold.eot');
	src: url('../fonts/ClinicaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-SemiBold.woff') format('woff'),
	url('../fonts/ClinicaPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-SemiBoldItalic.eot');
	src: url('../fonts/ClinicaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-SemiBoldItalic.woff') format('woff'),
	url('../fonts/ClinicaPro-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-Bold.eot');
	src: url('../fonts/ClinicaPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-Bold.woff') format('woff'),
	url('../fonts/ClinicaPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Clinica Pro';
	src: url('../fonts/ClinicaPro-BoldItalic.eot');
	src: url('../fonts/ClinicaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ClinicaPro-BoldItalic.woff') format('woff'),
	url('../fonts/ClinicaPro-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Fontello';
	src: url('../fonts/fontello.eot');
	src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/fontello.woff') format('woff'),
		 url('../fonts/fontello.ttf') format('truetype'),
		 url('../fonts/fontello.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}