body, input, textarea, h1, h2, h3, h4, h5, li {
	font: normal 400 13px/20px $font--family-main;
	color: $color--text-main;
}
a {
	outline: none;
	text-decoration: underline;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	color: $color--text-accent;
	&:hover {
		color: $color--text-hover;
		text-decoration: underline;
	}
}
p {
	margin: 14px 0 0;
}
ul,
ol {
	margin: 10px 0 0 14px;
	padding: 0;
}

.list {
	list-style: none;
	overflow: hidden;
	.list__item {
		float: left;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
.list--type-simple {
	.list__item {
		position: relative;
		padding: 0 0 0 16px;
	}
	.list__item + .list__item {
		margin: 7px 0 0;
	}
	& > .list__item:before {
		content: '';
		position: absolute;
		display: block;
		width: 3px;
		height: 3px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: solid 2px $color--text-accent;
		left: 0;
		top: 6px;
	}
}
.list--type-full {
	.list__item {
		position: relative;
		padding: 0 0 0 16px;
	}
	.list__item + .list__item {
		margin: 7px 0 0;
	}
	& > .list__item:before {
		content: '';
		position: absolute;
		display: block;
		width: 7px;
		height: 7px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		left: 0;
		top: 6px;
		background-color: $color--bg-alter;
	}
}
.list--type-light {
	.list__item {
		position: relative;
		padding: 0 0 0 16px;
	}
	.list__item + .list__item {
		margin: 7px 0 0;
	}
	& > .list__item:before {
		content: '';
		position: absolute;
		display: block;
		width: 5px;
		height: 5px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border: solid 1px $color--text-accent;
		left: 0;
		top: 6px;
	}
}
.list--type-dashed {
	list-style: none;
	margin-left: 20px;
	.list__item {
		padding: 0 0 0 12px;
		position: relative;
		display: block;
	}
	& > .list__item:before {
		content: '– ';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
	}
	.list__item + .list__item {
		margin: 4px 0 0;
	}
}
.list--type-numeral {
	counter-reset: num;
	.list__item {
		position: relative;
		padding: 0 0 0 16px;
	}
	.list__item + .list__item {
		margin: 7px 0 0;
	}
	& > .list__item:before {
		content: counter(num) '.';
		counter-increment: num;
		display: inline-block;
		position: absolute;
		left: 0;
		font-weight: 700;
		color: $color--text-accent;
		width: 14px;
	}
}
.list--type-category {
	margin: 0;
	.list--type-category {
		margin: 0 0 0 20px;
	}
	.list__item {
		line-height: 18px;
		margin: 9px 0 0;
	}
}
.list--type-dark {
	margin: 10px 0 0;
	.list__item + .list__item {
		margin: 4px 0 0;
	}
	a {
		color: $color--text-main;
	}
	a:hover {
		color: $color--text-accent;
	}
}
.list--column-2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

blockquote {
	background-color: $color--bg-accent;
	padding: 13px 15px 7px;
	margin: 14px 0 0;
	p {
		font-style: italic;
		max-width: 770px;
	}
	p:first-child {
		margin: 0;
	}
	cite {
		display: block;
		font-weight: 500;
		font-style: normal;
	}
}
.block-attention {
	background-color: $color--bg-hover;
	padding: 8px 17px 10px;
	margin: 14px 0 0;
	border-left: solid 3px $color--bd-hover;
	p {
		max-width: 770px;
	}
	p:first-child {
		margin: 0;
	}
}
.block-info {
	background-color: rgba($color--bg-alter, 0.1);
	position: relative;
	padding: 13px 20px 13px 36px;
	margin: 20px -20px 0;
	line-height: 18px;
	font-size: 13px;
	&:before {
		content: '\e801';
		position: absolute;
		display: block;
		width: 16px;
		height: 14px;
		font: 400 normal 14px/1em $font--family-icons;
		color: $color--text-accent;
		left: 10px;
		top: 15px;
	}
}

	
	

	
h1 {
	margin: 22px 0 0;
	font-weight: 500;
	display: block;
	font-size: 18px;
	line-height: 26px;
}
h2 {
	margin: 18px 0 0;
	font-weight: 500;
	display: block;
	font-size: 15px;
	line-height: 23px;
}
h3 {
	margin: 18px 0 0;
	font-weight: 500;
	display: block;
	font-size: 15px;
	line-height: 23px;
}
h4 {
	margin: 20px 0 0;
	font-weight: 500;
	display: block;
	font-size: 14px;
	line-height: 20px;
}
h5 {
	margin: 20px 0 0;
	font-weight: 600;
	display: block;
	font-size: 13px;
	line-height: 20px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
.title-counter {
	font-size: 13px;
	white-space: nowrap;
	color: $color--text-dark;
	margin: 0 0 0 2px;
	font-weight: 400;
}


.link {
	cursor: pointer;
	display: inline;
	-webkit-transition: color 0.3s, border-color 0.3s;
	-moz-transition: color 0.3s, border-color 0.3s;
	-ms-transition: color 0.3s, border-color 0.3s;
	-o-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	&.link--type-dashed {
		color: $color--text-accent;
		border-bottom: dashed 1px rgba($color--text-accent, 0.4);
		text-decoration: none;
		line-height: 1em;
	}
	&.link--type-dashed:hover {
		color: $color--text-hover;
		border-color: rgba($color--text-hover, 0.4);
	}

	&.link--type-dashed-dark {
		color: $color--text-main;
		border-bottom: dashed 1px rgba($color--text-main, 0.4);
		text-decoration: none;
		line-height: 1em;
	}
	&.link--type-dashed-dark:hover {
		color: $color--text-hover;
		border-color: rgba($color--text-hover, 0.4);
	}
}
.rub {
	position: relative;
	vertical-align: baseline;
	line-height: 1em;
	&:after {
		content: '–';
		position: absolute;
		display: block;
		width: 100%;
		left: -1px;
		top: 0.24em;
	}
}
.article-pic {
	display: block;
	max-width: 100%;
	margin: 20px 0 14px;
}


.icon-approve:before { content: '\e800'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-bottom-arrow:before { content: '\e802'; } /* '' */
.icon-bottom-rounded:before { content: '\e803'; } /* '' */
.icon-bottom-variant:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-close-rounded:before { content: '\e809'; } /* '' */
.icon-coins:before { content: '\e80a'; } /* '' */
.icon-comparision:before { content: '\e80b'; } /* '' */
.icon-copy:before { content: '\e80c'; } /* '' */
.icon-delete:before { content: '\e80d'; } /* '' */
.icon-delivery:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-email:before { content: '\e810'; } /* '' */
.icon-full:before { content: '\e811'; } /* '' */
.icon-help:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-left-arrow:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-pay:before { content: '\e818'; } /* '' */
.icon-refresh:before { content: '\e819'; } /* '' */
.icon-right-arrow:before { content: '\e81a'; } /* '' */
.icon-round-minus:before { content: '\e81b'; } /* '' */
.icon-round-phone:before { content: '\e81c'; } /* '' */
.icon-round-plus:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-top-arrow:before { content: '\e821'; } /* '' */
.icon-top-rounded:before { content: '\e822'; } /* '' */
.icon-top-variant:before { content: '\e823'; } /* '' */
.icon-warranty:before { content: '\e824'; } /* '' */