body, input, textarea, h1, h2, h3, h4, h5, li {
    font-size: 14px;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
h3 {
    margin: 14px 0 0;
    font-size: 22px;
    line-height: 28px;
}
h4 {
    margin: 15px 0 0;
    font-size: 20px;
    line-height: 26px;
}
h5 {
    font-size: 14px;
}

.article-pic--position-left {
    float: left;
    margin-right: 20px;
}
.article-pic--position-right {
    float: right;
    margin-left: 20px;
}

.title-counter {
    font-size: 15px;
    margin: 0 0 0 8px;
}

.block-info {
    font-size: 14px;
    margin: 20px 0 0;
}