.ui-datepicker {
    width: 210px;
    background-color: $color--bg-main;
    z-index: 10 !important;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px $color--bg-alter;
}
.ui-datepicker-header {
    position: relative;
    padding: 9px 40px 9px;
    .ui-corner-all {
        align-self: baseline;
        display: block;
        line-height: 38px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        position: absolute;
        top: 0;
        text-decoration: none;
        width: 40px;
        height: 100%;
        color: $color--text-accent;
        cursor: pointer;
    }
    .ui-corner-all:hover {
        color: $color--text-hover;
    }
    .ui-datepicker-prev {
        left: 0;
    }
    .ui-datepicker-next {
        right: 0;
    }
}
.ui-datepicker-title {
    font-size: 18px;
    font-weight: 500;
    color: $color--text-main;
    text-align: center;
}
.ui-datepicker-calendar {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: none;
    text-align: center;
    vertical-align: middle;
    td,
    th {
        width: 30px;
        line-height: 30px;
        font-weight: 500;
        color: $color--text-dark;
    }
    td {
        height: 30px;
        font-size: 14px;
    }
    th {
        height: 30px;
        font-size: 14px;
        background-color: $color--bg-hover;
        text-transform: uppercase;
    }
    td .ui-state-default {
        display: inline-block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    td.date-range-selected .ui-state-default {
        color: $color--text-hover;
    }
    td .ui-state-default:hover,
    td .ui-state-default.ui-state-highlight.ui-state-active{
        background-color: #f7f8f7;
    }
    td .ui-state-default.ui-state-active,
    td .ui-state-default.ui-state-active:hover {
        background-color: $color--bg-hover;
        color: $color--text-dark;
    }
    td.date-range-start .ui-state-default,
    td.date-range-start .ui-state-default:hover,
    td.date-range-finish .ui-state-default,
    td.date-range-finish .ui-state-default:hover {
        background-color: $color--bg-hover;
        color: $color--text-dark;
    }
}