/*@mixin opacity($opacity){
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
};
@mixin ie-opacity($opacity){
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=($opacity*100));
};*/




/*
.some{
	@include opacity(0.8);}
*/