/********************************* SPRITE start *********************************/
$sprite-layout: smart;
@import "sprite/*.png";
/*.block-socials__item--dj{
	@include sprite-sprite(icon-social-dj);
}*/
/*********************************  SPRITE end  *********************************/

/********************************* COLORS start *********************************/
$color--text-main:         #000000;
$color--text-light:        #999999;
$color--text-dark:         #666666;
$color--text-accent:       #0f71c8;
$color--text-hover:        #ff2a18;
$color--text-alter:        #ffffff;

$color--bg-main:           #ffffff;
$color--bg-light:          #f1f3f6;
$color--bg-dark:           #e6e9ee;
$color--bg-accent:         #e7f1f9;
$color--bg-hover:          #feedeb;
$color--bg-alter:          #0f71c8;

$color--bd-main:           #e6e9ee;
$color--bd-light:          #999999;
$color--bd-dark:           #000000;
$color--bd-accent:         #d1e4f6;
$color--bd-hover:          #f44d3e;
$color--bd-alter:          #ffffff;

/*********************************  COLORS end  *********************************/

/*********************************  FONTS start *********************************/
$font--family-main: "Clinica Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font--family-icons: "Fontello";
/*********************************   FONTS end  *********************************/