/************************   TABLE start  *************************/
.block-table {
    margin: 16px 0 0;
}
.block-table__table {
    display: table;
    width: 100%;
}
.block-table__row {
    display: table-row;
    padding: 0;
}
.block-table__title {
    display: table-cell;
    padding: 13px 14px 11px;
    white-space: nowrap;
    &:after {
        display: none;
    }
}
.block-table__cell {
    display: table-cell;
    padding: 13px 14px 11px;
    & + & {
        margin: 0;
    }
}

.block-table.block-table--type-full {
    margin: 20px -20px 0;
    .block-table__cell {
        padding-left: 14px;
    }
    .block-table__cell:first-child {
        padding-left: 14px;
    }
}
/************************   TABLE end  *************************/

/************************   SLIDER start  *************************/
.slick-dots {
    width: 40%;
    left: 5px;
    bottom: 10px;
    text-align: left;
}

.slider--type-main {
    margin: 20px 0 0;
}
.slider--type-shop {
    .slider__item {
        display: block;
    }
}
.slider--type-news {
    margin: 0 -10px;
}
.slider--type-thumbs {
    display: block;
    margin: 10px -5px 0;
    .slider__item {
        padding: 0 5px 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
/************************   SLIDER end  *************************/

/************************   PROMO start  *************************/
.block-promo__content {
    width: 410px;
    padding: 12px 20px 18px 20px;
    background-color: rgba($color--bg-light, 0.8);
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
.block-promo__title {
    font-size: 24px;
    line-height: 30px;
}
.block-promo__description {
    max-height: 60px;
    height: auto;
}
/************************   PROMO end  *************************/

/************************   BRAND SEARCH start  *************************/
.block-brand-search {
    display: block;
    margin: 20px 0 0;
    padding: 13px 15px 19px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $color--bg-light;
}
.block-brand-search__title {
    font-size: 17px;
    line-height: 22px;
    a {
        color: inherit;
    }
    a:hover {
        color: $color--text-hover;
    }
}
.block-brand-search__search {
    margin: 8px 0 0;
}
.block-brand-search__content {
    margin: 18px 0 0;
}
.block-brand-search__scroll {
    overflow: auto;
    height: 301px;
}

.block-brand-list + .block-brand-list {
    margin: 10px 0 0;
}
.block-brand-list__title {
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 10px;
}
.block-brand-list__list {
    list-style: none;
    margin: 0;
    padding: 0;
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
}
.block-brand-list__item {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 10px;
}
/************************   BRAND SEARCH end  *************************/

/************************   CATEGORY start  *************************/
.block-category {
    margin: 15px 0 0;
}
.block-category__title {
    padding: 12px 33px 11px 10px;
}
.block-category__title:after,
.block-category__title.block-category__title--state-active:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.block-category__icon {
    display: none;
}
.block-category__content {
    display: block !important;
}
.block-category__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 0 0;
    &.block-category__item--type-preview {
        padding: 0 0 0 60px;
        min-height: 50px;
        margin: 18px 0 10px;
    }
    &.block-category__item--type-preview .block-category__link {
        display: table-cell;
        width: 500px;
        height: 50px;
        vertical-align: middle;
        line-height: 18px;
    }
    &.block-category__item--type-preview .block-category__counter:after,
    &:last-child .block-category__counter:after {
        display: none;
    }
}
.block-category__img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -25px 0 0;
    width: 50px;
    height: 50px;
}
.block-category__link {
    font-size: 14px;
    line-height: 28px;
}
.block-category__counter {
    &:after {
        content: ', ';
        display: inline;
    }
}
/************************   CATEGORY end  *************************/

/************************   ITEM start  *************************/
.block-item {
    border: solid 1px $color--bd-main;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 0 1px transparent;
    -moz-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
    &:hover {
        border-color: $color--bg-alter;
        -webkit-box-shadow: 0 0 0 1px $color--bg-alter;
        -moz-box-shadow: 0 0 0 1px $color--bg-alter;
        box-shadow: 0 0 0 1px $color--bg-alter;
    }
}
.block-item__pic {
    float: none;
    margin: 0;
    position: relative;
    width: 100%;
    height: 227px;
    border: none;
    border-bottom: solid 1px $color--bd-main;
}
.block-item__tags {
    white-space: nowrap;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    position: absolute;
    text-align: right;
    top: 1px;
    right: 1px;
    z-index: 2;
}
.block-item__tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    color: $color--text-alter;
    margin: 3px 3px 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &.block-item__tag--red {
        background-color: $color--bd-hover;
    }
    &.block-item__tag--blue {
        background-color: $color--bg-alter;
    }
}
.block-item__producer {
    position: absolute;
    display: block;
    z-index: 2;
    width: 16px;
    height: 12px;
    left: 4px;
    bottom: 6px;
}
.block-item__counter {
    background-color: rgba($color--bg-light, 0.8);
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 2px 0 0 0;
    -moz-border-radius: 2px 0 0 0;
    border-radius: 2px 0 0 0;
    height: 22px;
    line-height: 22px;
    padding: 0 7px;
    font-size: 12px;
}

.block-item__content {
    padding: 8px 13px 14px;
}
.block-item__title {
    max-height: 72px;
    height: 72px;
}
.block-item__info {
    margin: 6px 0 0;
}
.block-item__delivery {
    margin: 20px 0 0;
}
.block-delivery__item,
.block-delivery__item + .block-delivery__item {
    display: block;
    margin: 0;
}
.block-item__price {
    margin: 7px 0 0;
    padding: 0;
    line-height: 32px;
    height: 32px;
    white-space: nowrap;
}
.block-price__current {
    font-size: 22px;
}
.block-price__old {
    font-size: 14px;
}
.block-price__pay {
    display: inline-block;
    vertical-align: baseline;
    font: 400 normal 13px/1em $font--family-icons;
    color: $color--text-light;
    margin: 0 0 0 5px;
    &:before {
        content: '\e818';
        width: 20px;
        height: 13px;
    }
}
.block-item__footer {
    position: static;
    bottom: auto;
    left: auto;
    display: block;
    margin: 3px 0 0;
    height: 32px;
    white-space: nowrap;
    .button {
        margin: 0 10px 0 0;
    }
}
.block-item__actions {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.block-item__action {
    font-size: 12px;
    line-height: 16px;
}
/************************   ITEM end  *************************/

/************************   SETS start  *************************/
.block-sets {
    padding: 5px 0 10px;
}
.block-sets__item {
    display: inline-block;
    vertical-align: baseline;
    margin: 6px 15px 0 0;
}
/************************   SETS end  *************************/

/************************   PAGING start  *************************/
.block-paging__buttons {
    .button {
        width: 230px;
        margin: 0 auto;
    }
}
.block-paging--type-paginator {
    .block-paging__buttons {
        display: none;
    }
    .block-paging__pages {
        display: block;
    }
}
/************************   PAGING end  *************************/

/************************   COLLECTION start  *************************/
.block-collection {
    margin: 14px 0 0;
}
.block-collection__title {
    font-size: 17px;
}
/************************   COLLECTION end  *************************/

/************************   BRAND CARD start  *************************/
.block-brand-card {
    margin: 18px 0 0;
    p {
        margin: 14px 0 0;
    }
}
.block-brand-card__pic {
    width: 320px;
}
.block-brand-card__logo {
    margin: 0 20px 0 0;
}
.block-brand-card__title {
    font-size: 20px;
}
.block-brand-card__buttons {
    margin: 10px 0 0;
}
/************************   BRAND CARD end  *************************/

/************************   ALPHABET start  *************************/
.block-alphabet {
    margin: 10px -8px 0;
}
.block-alphabet__item {
    margin: 8px 8px 0;
    a {
        font-size: 19px;
        line-height: 24px;
        height: 24px;
    }
    &.block-alphabet__item--all a {
        font-size: 14px;
    }
}
/************************   ALPHABET end  *************************/

/************************   BRANDS PREVIEW start  *************************/
.block-brand-preview {
    margin: 20px 0 0;
}
.block-brand-preview__pic {
    width: 176px;
    height: 84px;
    margin: 1px 20px 0 1px;
}
.block-brand-preview__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 197px;
}
.block-brand-preview__producer {
    margin: 14px 0 0 197px;
}
.block-brand-preview__content {
    margin: 0 0 0 197px;
    clear: none;
}
.block-brand-preview__item {
    margin: 6px 12px 0 0;
    display: inline-block;
}
.block-brand-preview__counter {
    font-size: 12px;
}
/************************   BRANDS PREVIEW end  *************************/

/************************   CART start  *************************/
.block-cart {
    margin: 12px 0 0;
}
.block-cart__row {
    padding: 15px 40px 15px 0;
    position: relative;
    border-top: none;
    border-bottom: solid 1px $color--bd-main;
    overflow: hidden;
    &.block-cart__head {
        display: block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: $color--bg-alter;
        color: $color--text-alter;
        white-space: nowrap;
        padding: 0 40px 0 0;
        border: none;
    }
}
.block-cart__title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
    &:first-child {
        float: left;
        width: 60%;
        padding: 9px 15px;
    }
    &:first-child + & {
        display: inline-block;
        vertical-align: top;
        padding: 9px 0 9px 15px;
    }
    &:first-child + & + & {
        display: inline-block;
        vertical-align: top;
        padding: 9px 15px 9px 0;
        &:before {
            content: ' / ';
        }
    }
    &:first-child + & + & + & {
        display: none;
    }
    &:first-child + & + & + & + & {
        display: inline-block;
        vertical-align: top;
    }
}
.block-cart__cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:first-child {
        float: left;
        width: 60%;
        padding: 9px 15px;
    }
    &:first-child + &,
    &:first-child + & + & {
        margin: 0 0 0 60%;
        padding-left: 15px;
    }
    &:first-child + & + & {
        margin-top: 10px;
    }
}
.block-cart__delete {
    right: 15px;
    top: 50%;
    margin: -6px 0 0;
}

.block-cart__price {
    font-size: 14px;
    margin: 24px 0 0;
}
.block-cart__options {
    border-top: none;
}
.block-cart__buttons {
    margin: 18px -10px 0;
    .button {
        margin: 0 10px;
        width: 244px;
    }
}

.block-total__title {
    text-align: right;
    width: 60%;
    font-size: 20px;
    line-height: 24px;
}
.block-total__count {
    width: 18%;
    font-size: 20px;
    line-height: 24px;
}
.block-total__value {
    width: 22%;
    font-size: 20px;
    line-height: 24px;
}
/************************   CART end  *************************/

/************************   CART ITEM start  *************************/
.block-cart-price__pay {
    display: block;
    margin: 8px 0 0;
}
.block-cart-item__set {
    margin: 8px 0 0 85px;
}
/************************   CART ITEM start  *************************/

/************************   ORDER start  *************************/
.block-order__title {
    padding: 0 0 0 34px;
    font-size: 20px;
    line-height: 24px;
}
.block-order__num {
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}
.block-order__content {
    margin-top: 18px;
}
/************************   ORDER end  *************************/

/************************   CATEGORY PREVIEW start  *************************/
.block-category-preview__item {
    margin: 20px 0 0;
}
.block-category-preview__pic {
    display: block;
}
.block-category-preview__title {
    margin: 10px 0 0;
    font-size: 14px;
}
/************************   CATEGORY PREVIEW end  *************************/

/************************   SORT MOBILE start  *************************/
.block-sort-mobile__item {
    margin: 0;
}
/************************   SORT MOBILE end  *************************/

/************************   CHARACTERISTICS start  *************************/
.block-characteristics {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    margin: 14px 0 25px;
}

.block-characteristics__heading {
    font-size: 16px;
    line-height: 22px;
}
.block-characteristics__title {
    font-size: 14px;
}
.block-characteristics__value {
    font-size: 14px;
}
/************************   CHARACTERISTICS end  *************************/

/************************   PRODUCT PAGE start  *************************/
.block-product-card__actions {
    margin: -4px 0 0;
}

/************************   PRODUCT PAGE end  *************************/

/************************   ADDITIONAL start  *************************/
.wrapper-additional {
    margin: 20px 0 0;
    padding: 12px 15px 20px;
}
.wrapper-additional__title {
    font-size: 20px;
    line-height: 26px;
}
.wrapper-additional__subtitle {
    font-size: 16px;
    margin: 16px 0 0;
}


.block-additional {
    position: relative;
    padding: 0 145px 0 115px;
    min-height: 73px;
}
.block-additional__input,
.block-additional__input:first-child {
    position: absolute;
    left: 0;
    top: 30px;
    margin: 0;
    float: none;
}
.block-additional__img {
    position: absolute;
    left: 31px;
    top: 3px;
    margin: 0;
}
.block-additional__price {
    position: absolute;
    right: 0;
    top: 0;
    width: 125px;
    .price__current {
        display: block;
        margin: 0;
        font-size: 20px;
        line-height: 24px;
    }
    .price__old {
        display: block;
        margin: 4px 0 0;
        font-size: 14px;
    }
    .price__pay {
        display: block;
        margin: 14px 0 0;
    }
}
/************************   ADDITIONAL end  *************************/