/************************   BREADCRUMBS start  *************************/
.block-breadcrumbs {
    display: block;
    margin: 18px 0 0;
    font-size: 0;
    line-height: 20px;
}
.block-breadcrumbs__home,
.block-breadcrumbs__item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    font-size: 13px;
}
.block-breadcrumbs__home {
    width: 16px;
    height: 13px;
    font: 400 normal 13px/1em $font--family-icons;
    margin: 3px 8px 0 0;
    a {
        color: $color--text-light;
    }
    a:hover {
        color: $color--text-hover;
    }
}
.block-breadcrumbs__item {
    a {
        color: $color--text-dark;
    }
    a:hover {
        color: $color--text-hover;
    }
    & + &:before {
        content: '→';
        padding: 0 7px;
    }
}
/************************   BREADCRUMBS end  *************************/

/************************   SLIDER start  *************************/
.slider--type-gallery {
    margin: 0 132px 0 0;
}
.slider--type-thumbs {
    position: absolute;
    right: 10px;
    top: -5px;
    bottom: 40px;
    padding: 0;
    width: 112px;
    margin: 0;
    overflow: hidden;
    .slick-list {
        overflow: inherit !important;
        height: auto !important;
    }
    .slider__item {
        padding: 5px 0;
    }
    .slider__button--prev {
        left: 50%;
        margin: 0 0 0 -20px;
        top: -15px;
    }
    .slider__button--prev:before {
        content: '\e822';
        width: 16px;
        height: 9px;
        font-size: 9px;
        margin-left: -8px;
        top: 23px;
    }
    .slider__button--next {
        right: auto;
        left: 50%;
        margin: 0 0 0 -20px;
        top: auto;
        bottom: -15px;
    }
    .slider__button--next:before {
        content: '\e803';
        width: 16px;
        height: 9px;
        font-size: 9px;
        margin-right: -8px;
        top: 24px;
    }
}
/************************   SLIDER end  *************************/

/************************   BRAND SEARCH start  *************************/
.block-brand-list__list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.block-brand-search__scroll {
    height: 243px;
}
/************************   BRAND SEARCH end  *************************/

/************************   CATEGORY start  *************************/
.block-category__title {
    text-decoration: none;
    color: $color--text-alter;
    background-color: $color--bg-alter;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-size: 17px;
    line-height: 22px;
    padding: 9px 35px 9px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &:after {
        color: $color--text-alter;
        right: 12px;
    }
    &:hover {
        background-color: $color--bd-hover;
        color: $color--text-alter;
        text-decoration: none;
    }
}
.block-category__item {
    display: inline;
    &.block-category__item--type-preview {
        display: inline-block;
    }
}
/************************   CATEGORY end  *************************/

/************************   NEWS PREVIEW start  *************************/
.block-news-preview__content {
    max-height: 60px;
}
/************************   NEWS PREVIEW end  *************************/

/************************   PAGING start  *************************/
.block-paging--type-button {
    padding: 0 30%;
    .block-paging__pages {
        display: block;
        position: absolute;
        top: 6px;
        &.block-paging__pages--position-right {
            right: 0;
        }
        &.block-paging__pages--position-left {
            left: 0;
        }
    }
}

.block-paging__buttons {
    .button {
        width: 244px;
    }
    .icon {
        display: inline-block;
        vertical-align: top;
        font: 400 normal 6px/32px $font--family-icons;
        color: $color--text-light;
        margin: 0 0 0 8px;
    }
    .icon-down:after {
        content: '\e802';
    }
}
/************************   PAGING end  *************************/

/************************   ALPHABET start  *************************/
.block-alphabet {
    margin: 10px -4px 0;
}
.block-alphabet__item {
    margin: 8px 4px 0;
}
/************************   ALPHABET end  *************************/

/************************   BRANDS PREVIEW start  *************************/
.block-brand-preview {
    margin: 30px 0 0;
}
/************************   BRANDS PREVIEW end  *************************/

/************************   CHARACTERISTICS start  *************************/
.block-characteristics {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}
/************************   CHARACTERISTICS end  *************************/

/************************   PRODUCT PAGE start  *************************/
.block-product-card__info {
    margin: 0;
}
.wrapper-gallery {
    position: relative;
}
/************************   PRODUCT PAGE end  *************************/

/************************   GALLERY start  *************************/
.block-gallery__zoom {
    display: block;
}
/************************   GALLERY end  *************************/

/************************   THUMBS start  *************************/
//.block-thumb {
//    margin: 0;
//    position: relative;
//    padding: 0;
//    overflow: hidden;
//}
//.block-thumb__img {
//    position: static;
//    left: auto;
//    top: auto;
//    -webkit-transform: translate(0, 0);
//    -moz-transform: translate(0, 0);
//    -ms-transform: translate(0, 0);
//    -o-transform: translate(0, 0);
//    transform: translate(0, 0);
//    min-height: 0;
//}
/************************   THUMBS end  *************************/