/************************   BREADCRUMBS start  *************************/
.block-breadcrumbs {
    display: none;
}
/************************   BREADCRUMBS end  *************************/

/************************   ASIDE MENU start  *************************/
.menu--type-aside {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $color--bg-light;
    margin: 20px 0 0;
    .menu__title {
        padding: 9px 15px;
        font-size: 15px;
        line-height: 20px;
        position: relative;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        background-color: $color--bg-alter;
        color: $color--text-alter;
    }
    .menu__list {
        list-style: none;
        margin: 0;
        padding: 10px 15px 18px;
    }
    .menu__item {
        font-size: 15px;
        line-height: 20px;
    }
    .menu__item + .menu__item {
        margin: 18px 0 0;
    }
    .menu__item--state-active .menu__link {
        text-decoration: none;
        cursor: default;
        color: $color--text-main;
    }
}
/************************   ASIDE MENU end  *************************/

/************************   TABLE start  *************************/
.block-table {
    margin: 20px 0 0;
    border: solid 1px $color--bg-dark;
    border-top: none;
}
.block-table__row {
    border-top: solid 1px $color--bg-dark;
    padding: 13px 14px 11px;
}
.block-table__head {
    background-color: $color--bg-dark;
}
.block-table__title {
    display: inline;
    vertical-align: top;
    font-weight: 500;
    &:after {
        content: '/';
        padding: 0 7px;
    }
    &:last-child:after {
        display: none;
    }
}
.block-table__cell {
    & + & {
        margin: 10px 0 0;
    }
}

.block-table.block-table--type-full {
    margin: 20px -20px 0;
    padding-bottom: 0;
    border: none;
    .block-table__row {
        border-top: none;
    }
    .block-table__cell {
        padding-left: 26px;
    }
    .block-table__cell:first-child {
        padding-left: 0;
    }
}
/************************   TABLE end  *************************/

/************************   SLIDER start  *************************/
.slick-track > .slick-list {
    display: none;
}
.slider__item {
    outline: none;
}
.slider__button {
    display: block;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 3;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    &:before {
        width: 9px;
        height: 16px;
        font: 400 normal 16px/1em $font--family-icons;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
        color: inherit;
    }
    &.slider__button--prev:before {
        content: '\e814';
        margin-left: -5px;
        left: 50%;
    }
    &.slider__button--next:before {
        content: '\e81a';
        margin-right: -5px;
        right: 50%;
    }

    &.slider__button--light {
        background-color: $color--bg-main;
        color: $color--text-accent;
        &:hover {
            color: $color--text-hover;
        }
    }
    &.slider__button--dark {
        background-color: $color--bg-alter;
        color: $color--text-alter;
        &:hover {
            background-color: $color--bd-hover;
        }
    }
}
.slider__button.slider__button--vertical {
    top: auto;
    right: 0;
    width: 20px;
    height: 11px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    &.slider__button--prev {
        top: -18px;
    }
    &.slider__button--next {
        bottom: 0;
    }
    &:before {
        width: 20px;
        height: 11px;
        font-size: 11px;
        top: auto;
        margin-top: 0;
        color: #d7dde4;
    }
    &:hover:before {
        color: $color--text-main;
    }
    &.slider__button--prev:before {
        content: '\e823';
        margin-left: 0;
        left: auto;
        top: auto;
    }
    &.slider__button--next:before {
        content: '\e804';
        margin-right: 0;
        right: auto;
        bottom: auto;
    }
}

.slick-dots {
    list-style: none;
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 155px;
    font-size: 0;
    line-height: 1;
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    li {
        display: inline-block;
        vertical-align: top;
        width: 8px;
        height: 8px;
        margin: 10px 5px 0;
        position: relative;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        transition: background-color 0.3s;
        background-color: rgba($color--bg-main, 0.5);
    }
    li:hover,
    li.slick-active {
        background-color: rgba($color--bg-main, 1);
    }
}

.slider--type-main {
    margin: 10px 0 0;
    .slider__button--prev {
        left: -20px;
    }
    .slider__button--next {
        right: -20px;
    }
}
.slider--type-shop {
    margin: 0 -10px;
    .slider__item {
        display: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0 1px;
    }
    .slider__item:first-child,
    .slider__item:first-child + .slider__item,
    .slider__item:first-child + .slider__item + .slider__item,
    .slider__item:first-child + .slider__item + .slider__item + .slider__item,
    .slider__item:first-child + .slider__item + .slider__item + .slider__item + .slider__item {
        display: block;
    }
    .slider__button--prev {
        left: -60px;
    }
    .slider__button--next {
        right: -60px;
    }
}
.slider--type-news {
    margin: 0 -10px;
    .slider__item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .slider__button--prev {
        left: -60px;
    }
    .slider__button--next {
        right: -60px;
    }
}
.slider--type-banner {
    margin: 10px 0 0;
    .slick-dots {
        bottom: 10px;
        text-align: left;
    }
}
.slider--type-viewed {
    padding: 0 0 20px;
}
.slider--type-gallery {
    .slick-dots {
        bottom: 10px;
        text-align: right;
    }
}
.slider--type-thumbs {
    display: none;
    .slider__button--prev {
        left: -15px;
    }
    .slider__button--next {
        right: -15px;
    }
}
/************************   SLIDER end  *************************/

/************************   PROMO start  *************************/
.block-promo {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    height: 361px;
}
.block-promo__img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.block-promo__content {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 50px 13px 16px;
    background-color: rgba($color--bg-light, 0.8);
}
.block-promo__title {
    font-size: 18px;
    line-height: 24px;
}
.block-promo__description {
    height: 60px;
    overflow: hidden;
    margin: 7px 0 0;
}
.block-promo__more {
    margin: 7px 0 0;
}
/************************   PROMO end  *************************/

/************************   BRAND SEARCH start  *************************/
.block-brand-search {
    display: none;
}
/************************   BRAND SEARCH end  *************************/

/************************   CATEGORY start  *************************/
.wrapper-category {
    margin-top: 8px;;
}
.block-category {
    margin: 2px -10px 0;
}
.block-category__title {
    padding: 12px 33px 11px 57px;
    position: relative;
    display: block;
    background-color: $color--bg-accent;
    font-size: 15px;
    line-height: 18px;
    min-height: 18px;
    &:after {
        content: '\e81a';
        position: absolute;
        display: block;
        width: 9px;
        height: 16px;
        right: 10px;
        top: 50%;
        margin: -8px 0 0;
        font: 400 normal 16px/1em $font--family-icons;
        color: rgba($color--text-accent, 0.3);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.block-category__title.block-category__title--state-active:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.block-category__icon {
    display: block;
    position: absolute;
    width: 37px;
    max-height: 37px;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.block-category__content {
    display: none;
    font-size: 0;
    line-height: 1;
    position: relative;
    padding: 0 0 10px;
}
.block-category__item {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 6px 0 0 35px;
}
.block-category__img {
    display: none;
}
.block-category__link {
    color: $color--text-light;
    a {
        color: $color--text-main;
    }
    a:hover {
        color: $color--text-hover;
    }
}
.block-category__counter {
    font-size: 12px;
}
/************************   CATEGORY end  *************************/

/************************   ITEM start  *************************/
.block-item {
    overflow: hidden;
    margin: 18px 10px 0;
    position: relative;
}
.block-item__pic {
    float: left;
    width: 91px;
    height: 91px;
    border: solid 1px $color--bd-main;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 3px 10px 10px 0;
    overflow: hidden;
}
.block-item__img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.block-item__tags,
.block-item__producer,
.block-item__counter,
.block-item__preview {
    display: none;
}
.block-item__preview {
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    display: block;
    width: 159px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: $color--text-alter;
    background-color: rgba($color--bg-alter, 0.8);
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    &:hover {
        color: $color--text-alter;
        text-decoration: none;
    }
}
.block-item:hover {
    .block-item__preview {
        opacity: 1;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
.block-item__title {
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
}
.block-item__info {
    list-style: none;
    padding: 0;
    margin: 7px 0 0;
}
.block-item__info-item {
    font-size: 12px;
    line-height: 16px;
    color: $color--text-dark;
}
.block-item__info-value {
    color: $color--text-main;
}
.block-item__delivery {
    clear: both;
    margin: 9px 0 0;
    font-size: 0;
    line-height: 1;
}
.block-delivery__item {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    color: $color--text-light;
    & + & {
        margin: 0 0 0 13px;
    }
    &:before {
        display: inline-block;
        vertical-align: middle;
        font: 400 normal 10px/1em $font--family-icons;
        margin: 0 3px 0 0;
    }
}
.block-delivery__item--icon-truck:before {
    content: '\e80e';
}
.block-delivery__item--icon-self:before {
    content: '\e815';
}
.block-delivery__value {
    line-height: 1em;
    border-bottom: dashed 1px rgba($color--text-light, 0.5);
    display: inline-block;
    vertical-align: middle;
}

.block-item__price {
    clear: both;
    margin: 10px 0 0;
    padding: 0 0 0 103px;
    min-height: 27px;
    line-height: 27px;
    .rub:after {
        top: 0.15em;
    }
}
.block-price__pay,
.block-item__actions {
    display: none;
}
.block-price__current {
    display: inline-block;
    font-size: 14px;
    line-height: 27px;
    margin: 0 7px 0 0;
}
.block-price__old {
    color: $color--text-dark;
    text-decoration: line-through;
    display: inline-block;
    font-size: 14px;
    line-height: 27px;
}
.block-item__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 27px;
    display: inline-block;
}
/************************   ITEM end  *************************/

/************************   NEWS PREVIEW start  *************************/
.block-news-preview {
    margin: 20px 0 0;
}
.block-news-preview__header {
    position: relative;
    padding: 0 0 0 62px;
    min-height: 50px;
}
.block-news-preview__img {
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.block-news-preview__title {
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    margin: -5px 0 0;
    max-width: 230px;
}
.block-news-preview__date {
    font-size: 12px;
    line-height: 20px;
    color: $color--text-dark;
}
.block-news-preview__content {
    margin: 6px 0 0;
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}
/************************   NEWS PREVIEW end  *************************/

/************************   SETS start  *************************/
.block-sets {
    padding-top: 2px;
}
.block-sets__item {
    margin: 6px 0 0;
}

.block-sets.block-sets--type-inline-mb {
    .block-sets__item {
        display: inline-block;
        vertical-align: top;
        margin: 6px 9px 0 0;
    }
}
/************************   SETS end  *************************/

/************************   PAGING start  *************************/
.block-paging {
    margin: 20px 0 0;
    min-height: 32px;
    position: relative;
}
.block-paging__pages {
    display: none;
}
.block-paging__buttons {
    .button {
        display: block;
    }
    .icon {
        display: none;
    }
}
.block-paging__pages--position-right {
    .block-paginator {
        text-align: right;
    }
    .block-paginator__page,
    .block-paginator__all {
        margin: 0 0 0 14px;
    }
}
.block-paging__pages--position-left {
    .block-paginator {
        text-align: left;
    }
    .block-paginator__page,
    .block-paginator__all {
        margin: 0 14px 0 0;
    }
}


.block-paginator__page,
.block-paginator__all {
    display: inline-block;
    vertical-align: top;
}
/************************   PAGING end  *************************/

/************************   COLLECTION start  *************************/
.block-collection {
    margin: 6px 0 0;
}
.block-collection__title {
    display: inline-block;
}
.block-collection__counter {
    color: $color--text-dark;
    display: inline-block;
}
/************************   COLLECTION end  *************************/

/************************   BRAND CARD start  *************************/
.block-brand-card {
    margin: 10px 0 0;
    p {
        margin: 5px 0 0;
    }
}
.block-brand-card__content {
    margin: 18px 0 0;
}
.block-brand-card__hidden {
    display: none;
}
.block-brand-card__buttons {
    padding: 0 0 10px;
    margin: 7px 0 0;
}
.block-brand-card__more {
    line-height: 1em;
    position: relative;
    border-bottom: dashed 1px rgba($color--text-main, 0.5);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    &:after {
        content: '\e802';
        display: block;
        position: absolute;
        right: -18px;
        top: 50%;
        width: 12px;
        height: 6px;
        margin: -2px 0 0;
        font: 400 normal 6px/1em $font--family-icons;
        color: rgba($color--text-main, 0.5);
    }
    &.block-brand-card__more--state-active:after {
        content: '\e821';
    }
}
.block-brand-card__title {
    font-size: 15px;
    line-height: 22px;
    strong {
        font-weight: 500;
    }
}
.block-brand-card__pic {
    width: 300px;
    overflow: hidden;
}
.block-brand-card__logo {
    width: 178px;
    margin: 0 10px 0 0;
    float: left;
}
.block-brand-card__logo-img {
    width: 176px;
    display: block;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px $color--bd-main;
}
.block-brand-card__producer {
    margin: 21px 0 0;
    font-size: 13px;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.block-brand-card__flag {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 12px;
    margin: 0 10px 0 0;
}
.block-brand-card__certificate {
    display: block;
    float: left;
    width: 112px;
}
/************************   BRAND CARD end  *************************/

/************************   ALPHABET start  *************************/
.block-alphabet {
    margin: 12px -3px 0;
}
.block-alphabet__item {
    display: inline-block;
    white-space: nowrap;
    margin: 6px 3px 0;
    text-transform: uppercase;
    a {
        font-size: 17px;
        line-height: 26px;
        text-decoration: underline;
        padding: 0 5px;
        height: 26px;
        display: block;
        position: relative;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        min-width: 15px;
        text-align: center;
    }
    a:hover,
    &.block-alphabet__item--state-active a {
        text-decoration: none;
        background-color: $color--bg-alter;
        color: $color--text-alter;
    }
    &.block-alphabet__item--all a {
        text-transform: none;
    }
}
/************************   ALPHABET end  *************************/

/************************   BRANDS PREVIEW start  *************************/
.block-brand-preview {
    margin: 26px 0 0;
    overflow: hidden;
}
.block-brand-preview__pic {
    width: 85px;
    height: 40px;
    float: left;
    margin: 1px 10px 5px 1px;
    border: solid 1px $color--bd-main;
    -webkit-box-shadow: 0 0 0 1px transparent;
    -moz-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    &:hover {
        border-color: $color--bg-alter;
        -webkit-box-shadow: 0 0 0 1px $color--bg-alter;
        -moz-box-shadow: 0 0 0 1px $color--bg-alter;
        box-shadow: 0 0 0 1px $color--bg-alter;
    }
}
.block-brand-preview__logo {
    display: block;
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.block-brand-preview__title {
    font-size: 17px;
    line-height: 21px;
}
.block-brand-preview__producer {
    margin: 7px 0 0;
    vertical-align: top;
}
.block-brand-preview__flag {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 10px 0 14px;
    &:first-child {
        margin-left: 0;
    }
}
.block-brand-preview__content {
    clear: both;
    margin: 6px 0 0;
}
.block-brand-preview__item {
    margin: 6px 0 0;
}
.block-brand-preview__counter {
    color: $color--text-light;
}
/************************   BRANDS PREVIEW end  *************************/

/************************   CART start  *************************/
.block-cart {
    margin: 10px 0 0;
}
.block-cart__head {
    display: none;
}
.block-cart__row {
    border-top: solid 1px $color--bd-main;
    padding: 16px 25px 20px 0;
    position: relative;
}
.block-cart__cell {
    margin: 10px 0 0;
    &:first-child {
        margin: 0;
    }
}
.block-cart__delete {
    position: absolute;
    width: 14px;
    height: 14px;
    font: 400 normal 14px/1em $font--family-icons;
    text-align: center;
    right: 0;
    top: 38px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    color: $color--text-accent;
    &:before {
        content: '\e808';
    }
    &:hover {
        color: $color--text-hover;
    }
}
.block-form-attention {
    margin: 20px 0 0;
    line-height: 18px;
    letter-spacing: -0.2px;
}
.block-cart__cost {
    display: none;
}

.block-cart__options {
    border-top: solid 1px $color--bd-main;
    border-bottom: solid 1px $color--bd-main;
    padding: 17px 15px;
}
.block-cart__total {
    margin: 18px 0 0;
    font-size: 0;
    line-height: 1;
    .rub:after {
        top: 0.16em;
    }
}
.block-total__title {
    display: inline-block;
    vertical-align: top;
    width: 28.3333%;
    font-size: 18px;
    line-height: 24px;
}
.block-total__count {
    display: inline-block;
    vertical-align: top;
    width: 28.3333%;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}
.block-total__value {
    display: inline-block;
    vertical-align: top;
    width: 43.3333%;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
}

.block-cart__buttons {
    margin: 18px -5px 0;
    font-size: 0;
    line-height: 1;
    .button {
        margin: 0 5px;
        width: 145px;
    }
}
/************************   CART end  *************************/

/************************   CART ITEM start  *************************/
.block-cart-item {
    overflow: hidden;
}
.block-cart-item__img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin: 0 15px 0 0;
}
.block-cart-item__title {
    margin: 8px 0 0 85px;
    line-height: 18px;
}
.block-cart-item__delivery {
    margin: 8px 0 0 85px;
    .block-delivery__item {
        display: block;
        line-height: 19px;
    }
    .block-delivery__item + .block-delivery__item {
        margin: 0;
    }
}
.block-cart-item__set {
    clear: both;
    position: relative;
    padding: 0 0 0 55px;
    line-height: 18px;
    margin: 8px 0 0;
}
.block-cart-item__set-title {
    position: absolute;
    left: 0;
    top: 0;
}
.block-cart-item__set-item + .block-cart-item__set-item {
    margin: 8px 0 0;
}

.block-cart__price {
    margin: 8px 0 0;
}
.block-cart-price {
    white-space: nowrap;
    font-size: 18px;
    line-height: 24px;
    .rub:after {
        top: 0.16em;
    }
}
.block-cart-price__current {
    display: inline-block;
    vertical-align: top;
}
.block-cart-price__old {
    display: inline-block;
    vertical-align: top;
    color: $color--text-dark;
    text-decoration: line-through;
    margin: 0 0 0 10px;
}
.block-cart-price__pay {
    display: inline-block;
    vertical-align: top;
    color: $color--text-light;
    font: 400 normal 13px/1em $font--family-icons;
    width: 20px;
    height: 13px;
    margin: 5px 0 0 8px;
    &:before {
        content: '\e818';
    }
}
/************************   CART ITEM end  *************************/

/************************   TO TOP BUTTON start  *************************/
.to-top-button {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 4;
    display: none;
}
.to-top-button__link {
    display: block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    background-color: $color--bg-alter;
    color: $color--text-alter;
    text-align: center;
    font: 400 normal 9px/1em $font--family-icons;
    &:before {
        content: '\e822';
        width: 16px;
        height: 9px;
        margin: -6px 0 0 -8px;
        left: 50%;
        top: 50%;
        display: block;
        position: absolute;
    }
    &:hover {
        text-decoration: none;
        background-color: $color--bd-hover;
        color: $color--text-alter;
    }
}
/************************   TO TOP BUTTON end  *************************/

/************************   ORDER start  *************************/
.block-order__item {
    margin: 20px 0 0;
}
.block-order__title {
    position: relative;
    padding: 0 0 0 28px;
    font-size: 15px;
    line-height: 18px;
}
.block-order__num {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: $color--text-alter;
    background-color: $color--bg-alter;
}
.block-order__content {
    margin-top: 10px;
}
/************************   ORDER end  *************************/

/************************   SWITCH start  *************************/
.js-switcher__content {
    display: none;
}
/************************   SWITCH end  *************************/

/************************   DELIVERY start  *************************/
.block-delivery-total {
    position: relative;
    min-height: 24px;
    padding-right: 50%;
}
.block-delivery-total__value {
    position: absolute;
    bottom: -1px;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 0 0 0 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    .rub:after {
        top: 0.18em;
        left: -2px;
    }
}
/************************   DELIVERY end  *************************/

/************************   ASIDE start  *************************/
.block-aside {
    margin: 20px 0 0;
    &:first-child {
        margin: 34px 0 0;
    }
}
.block-widget {
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $color--bg-light;
    padding: 10px 14px 20px;
}
.block-widget__title {
    margin-top: 0;
}
/************************   ASIDE end  *************************/

/************************   BANNER start  *************************/
.block-banner {
    height: 120px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
.block-banner__img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/************************   BANNER end  *************************/

/************************   POPULAR start  *************************/
.block-popular {
    font-size: 0;
    line-height: 1;
}
.block-popular__item {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin: 30px 0 0;
}
.block-popular__img {
    display: block;
    width: 80px;
}
/************************   POPULAR end  *************************/

/************************   PRODUCT PREVIEW start  *************************/
.block-product-preview {
    margin: 12px 0 0;
    min-height: 73px;
    padding: 0 0 0 82px;
    position: relative;
}
.block-product-preview__img {
    display: block;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 3px;
}
.block-product-preview__title {
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
}
.block-product-preview__price {
    white-space: nowrap;
    margin: 4px 0 0;
    font-size: 0;
    line-height: 1;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    .rub:after {
        top: 0.16em;
    }
}
.price__current {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}
.price__old {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 7px;
    color: $color--text-dark;
    text-decoration: line-through;
}
.block-product-preview__counter {
    font-size: 12px;
    line-height: 16px;
    margin: 2px 0 0;
    color: $color--text-light;
}
/************************   PRODUCT PREVIEW end  *************************/

/************************   CATEGORY PREVIEW start  *************************/
.block-category-preview {
    margin-top: 10px;
    margin-bottom: 10px;
}
.block-category-preview__item {
    margin: 0;
}
.block-category-preview__pic {
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: 0 auto;
    display: none;
}
.block-category-preview__img {
    width: 80px;
    display: block;
}
.block-category-preview__title {
    margin: 8px 0 0;
    font-size: 13px;
    white-space: nowrap;
    a {
        white-space: normal;
    }
}
.block-category-preview__counter {
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
    color: $color--text-light;
}
/************************   CATEGORY PREVIEW end  *************************/

/************************   ACTIVE FILTERS start  *************************/
.block-active-filters {
    margin: 20px -5px 0;
    font-size: 0;
    line-height: 1;
}
.block-active-filters__item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: $color--text-alter;
    background-color: $color--bg-alter;
    height: 26px;
    line-height: 26px;
    padding: 0 35px 0 9px;
    cursor: default;
    margin: 10px 5px 0;
    font-size: 14px;
}
.block-active-filters__title,
.block-active-filters__value {
    display: inline-block;
    vertical-align: top;
}
.block-active-filters__close {
    position: absolute;
    display: block;
    cursor: pointer;
    right: 5px;
    top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:before {
        content: '\e809';
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        font: 400 normal 8px/1em $font--family-icons;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
        color: $color--text-alter;
        text-align: center;
        top: 4px;
        left: 4px;
    }
    &:hover {
        background-color: $color--bg-main;
    }
    &:hover:before {
        color: $color--text-accent;
    }
}
/************************   ACTIVE FILTERS end  *************************/

/************************   SORT start  *************************/
.block-sort {
    margin: 20px -10px 0;
    min-height: 25px;
    font-size: 0;
    line-height: 1;
    .styled-select--type-inline {
        margin: 10px 10px 0 -5px;
    }
}
.block-sort__title {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 25px;
    margin: 10px 10px 0;
}
.block-sort__item {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 25px;
    height: 25px;
    margin: 10px 0 0;
    padding: 0 10px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    color: $color--text-dark;
    cursor: pointer;
    &.block-sort__item--state-active,
    &:hover {
        color: $color--text-main;
        background-color: $color--bg-light;
    }
}
.block-sort__link {
    line-height: 1em;
    display: inline-block;
    border-bottom: dashed 1px rgba($color--text-dark, 0.3);
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.block-sort__item:hover .block-sort__link,
.block-sort__item.block-sort__item--state-active .block-sort__link {
    border-color: transparent;
}

.block-sort__paginator {
    white-space: nowrap;
    float: right;
    margin: 10px 10px 0 0;
    position: relative;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    .block-paginator__page,
    .block-paginator__all {
        margin: 0 0 0 8px;
    }
}
/************************   SORT end  *************************/

/************************   SORT MOBILE start  *************************/
.block-sort-mobile {
    margin-top: 30px;
}
.block-sort-mobile__item {
    position: relative;
    margin: 0 -10px 0 0;
    z-index: 5;
}
.block-sort-mobile__button {
    height: 30px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: $color--bg-alter;
    color: $color--text-alter;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    padding: 0 36px 0 8px;
    white-space: nowrap;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 16px;
        height: 12px;
        font: 400 normal 12px/1em $font--family-icons;
        right: 10px;
        top: 50%;
        margin: -6px 0 0;
        @include sprite-sprite(icon-sort);
    }
}
.block-sort-mobile__content {
    position: absolute;
    display: none;
    width: 210px;
    overflow: hidden;
    top: 100%;
    left: 0;
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    border-radius: 0 3px 3px 3px;
    background-color: $color--bg-main;
    -webkit-box-shadow: 0 4px 10px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 0 4px 10px rgba($color--bd-dark, 0.25);
    box-shadow: 0 4px 10px rgba($color--bd-dark, 0.25);
    padding: 10px;
    .wrapper-filters {
        margin-top: 0;
    }
}
.wrapper-filters__footer {
    margin: 16px -10px -10px;
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgba($color--bd-dark, 0.25);
    -moz-box-shadow: 0 0 10px rgba($color--bd-dark, 0.25);
    box-shadow: 0 0 10px rgba($color--bd-dark, 0.25);
    font-size: 0;
    .button + .button {
        margin: 0 0 0 10px;
    }
}
/************************   SORT MOBILE end  *************************/

/************************   PRODUCT PAGE start  *************************/
.block-product-card {}
.block-product-card__header {
    //margin: 10px -10px 20px;
    margin: 8px -10px 10px;
    //font-size: 15px;
    font-size: 13px;
}
.block-product-card__info {
    margin: 20px 0 0;
}

.block-product-card__articul {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: $color--text-dark;
}
.block-product-card__comparision,
.block-product-card__favorites {
    //display: inline-block;
    display: none;
    vertical-align: top;
    margin: 0 10px;
}

.product-params__item {
    line-height: 18px;
    & + & {
        margin: 8px 0 0;
    }
}
.product-params__title {
    color: $color--text-dark;
}

.product-info__title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.1px;
}
.product-info__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-info__item,
.product-info__text {
    line-height: 18px;
    margin: 2px 0 0;
}

.block-product-card__actions {
    //margin: -3px 0 0;
    margin: 25px 0 0;
    .button {
        display: block;
        margin: 20px 0 0;
    }
}

.block-product-price {
    margin: 20px 0 0;
}
.block-product-price__title {
    font-size: 13px;
    line-height: 18px;
    //font-size: 20px;
    //line-height: 26px;
}
.block-product-price__price {
    margin: 10px 0 0;
    .price__pay {
        display: inline-block;
        vertical-align: baseline;
        width: 20px;
        height: 13px;
        font: 400 normal 13px/1em $font--family-icons;
        color: $color--text-light;
        //margin: 0 0 0 21px;
        margin: 0 0 0 9px;
    }
    .price__pay:before {
        content: '\e818';
    }
    .price__current {
        //font-size: 32px;
        //line-height: 40px;
        font-size: 20px;
        line-height: 24px;
        .rub:after {
            top: 0.16em;
        }
    }
    .price__old {
        //font-size: 24px;
        //line-height: 28px;
        font-size: 17px;
        line-height: 21px;
        margin: 0 0 0 18px;
        .rub:after {
            top: 0.16em;
        }
    }
}

.block-product-price__info {
    margin: 10px 0 0;
    color: $color--text-dark;
    font-size: 13px;
}

.block-product-card__pack {
    margin: 20px 0 0;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 5px;
    background-color: $color--bg-light;
}
.block-product-card__pack-table {
    width: 100%;
    td {
        width: 40%;
        padding: 4px 10px;
        vertical-align: top;
        text-align: left;
        font-size: 13px;
    }
    td:first-child {
        width: 60%;
    }
    .rub:after {
        top: 0.16em;
    }
}

.block-product-card__delivery {
    padding: 2px 0 0;
}
.block-product-card__delivery-item {
    margin: 18px 0 0;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 0 26px;
    position: relative;
    strong {
        font-weight: 500;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 2px;
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-light;
    }
    &.block-product-card__delivery-item--truck:before {
        content: '\e80e';
        font-size: 14px;
    }
    &.block-product-card__delivery-item--self:before {
        content: '\e815';
    }
}
/************************   PRODUCT PAGE end  *************************/

/************************   GALLERY start  *************************/
.block-gallery__pic {
    position: relative;
    height: 0;
    padding: 100% 0 0;
    overflow: hidden;
}
.block-gallery__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.block-gallery__logo {
    position: absolute;
    display: block;
    width: 112px;
    left: 10px;
    bottom: 10px;
    z-index: 2;
}
.block-gallery__zoom {
    margin: 20px 0 0;
    text-align: center;
    display: none;
}
.block-gallery__zoom-link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    &:before {
        content: '\e81e';
        width: 16px;
        height: 16px;
        position: absolute;
        left: -24px;
        top: 1px;
        font: 400 normal 16px/1em $font--family-icons;
    }
}
/************************   GALLERY end  *************************/

/************************   THUMBS start  *************************/
.block-thumb {
    margin: 0;
    position: relative;
    padding: 100% 0 0;
    overflow: hidden;
}
.block-thumb__img {
    display: block;
    opacity: 0.5;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}
.slick-current .block-thumb__img {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.slick-current .block-thumb:before {
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 2px $color--bg-alter;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 2;
}
/************************   THUMBS end  *************************/

/************************   BENEFITS start  *************************/
.block-benefit {
    position: relative;
    padding: 0 0 0 60px;
    min-height: 60px;
    margin: 20px 0 0;
}
.block-benefit__title {
    display: table-cell;
    width: 200px;
    height: 50px;
    vertical-align: middle;
}
.block-benefit__icon {
    font: 400 normal 50px/50px $font--family-icons;
    color: $color--text-accent;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    &.block-benefit__icon--coin:before {
        content: '\e80a';
    }
    &.block-benefit__icon--exchange:before {
        content: '\e819';
        font-size: 38px;
    }
    &.block-benefit__icon--documents:before {
        content: '\e80c';
        font-size: 48px;
    }
    &.block-benefit__icon--tag:before {
        content: '\e820';
        font-size: 46px;
    }
    &.block-benefit__icon--warranty:before {
        content: '\e824';
    }
}
/************************   BENEFITS end  *************************/

/************************   FAQ start  *************************/
.wrapper-faq__buttons {
    margin: 20px 0 0;
}
.block-faq {
    margin: 14px 0 0;
}
.block-faq__content {
    display: none;
    margin: 14px 0 0;
}
.block-faq__answer {
    margin: 0 0 0 54px;
    padding: 0 0 0 8px;
    border-left: solid 2px rgba($color--text-dark, 0.5);
    line-height: 18px;
    color: $color--text-dark;
    strong {
        font-weight: 500;
    }
}
.block-faq__link {
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    -ms-transition: color 0.3s, border-color 0.3s;
    -o-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    display: inline;
    line-height: 1em;
    color: $color--text-accent;
    border-bottom: dashed 1px rgba($color--text-accent, 0.4);
    cursor: pointer;
    text-decoration: none;
    &.block-faq__link--state-active {
        color: $color--text-main;
        border-color: rgba($color--text-main, 0.4);
    }
}
.block-faq__date {
    font-size: 11px;
    display: inline-block;
    color: $color--text-light;
    margin: 0 0 0 2px;
}
/************************   FAQ end  *************************/

/************************   TESTIMONIALS start  *************************/
.wrapper-testimonials__buttons {
    margin: 20px 0 0;
}
.block-testimonial {
    margin: 15px 0 0;
}
.block-testimonial__header {
    white-space: nowrap;
    font-size: 0;
    line-height: 1em;
    position: relative;
}
.block-testimonial__rate {
    display: inline-block;
    vertical-align: top;
    margin: 3px 9px 0 0;
}
.block-testimonial__author {
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    margin: 0 6px 0 0;
    font-weight: 500;
}
.block-testimonial__date {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
    color: $color--text-light;
    padding: 2px 0 0;
}
.block-testimonial__content {
    margin: 6px 0 0;
}

.block-testimonial.block-testimonial--type-answer {
    margin: 8px 0 0 54px;
    border-left: solid 2px rgba($color--text-main, 0.2);
    padding: 0 0 0 10px;
    color: $color--text-dark;
}
/************************   TESTIMONIALS end  *************************/

/************************   RATE start  *************************/
.block-rate {
    font-size: 0;
    line-height: 1;
    cursor: default;
    white-space: nowrap;
}
.block-rate__star {
    display: inline-block;
    vertical-align: top;
    margin: 0 1px 0 0;
    width: 15px;
    height: 13px;
    color: rgba($color--text-main, 0.2);
    font: 400 normal 13px/1em $font--family-icons;
    &:before {
        content: '\e81f';
    }
    &.block-rate__star--active {
        color: $color--bd-hover;
    }
}
/************************   RATE end  *************************/

/************************   DOWNLOADS start  *************************/
.block-download__item {
    margin: 14px 0 0;
    position: relative;
    padding: 0 0 0 26px;
    color: $color--text-dark;
    &:before {
        content: '\e80f';
        position: absolute;
        left: 0;
        top: 4px;
        display: block;
        width: 16px;
        height: 16px;
        color: $color--text-light;
        font: 400 normal 16px/1em $font--family-icons;
    }
}
/************************   DOWNLOADS end  *************************/

/************************   CERTIFICATES start  *************************/
.wrapper-certificates {
    margin: 8px -10px 0;
    font-size: 0;
    line-height: 1;
    cursor: default;
}
.block-certificate {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 10px;
}
/************************   CERTIFICATES end  *************************/

/************************   CHARACTERISTICS start  *************************/
.block-characteristics {
    list-style: none;
    padding: 0;
    margin: 14px 0 0;
}
.block-characteristics__heading {
    font-size: 13px;
    line-height: 18px;
    margin: 22px 0 -3px;
    font-weight: 500;
    &:first-child {
        margin: 0;
    }
}
.block-characteristics__item {
    white-space: nowrap;
    font-size: 0;
    line-height: 1;
    margin: 8px 0 0;
}
.block-characteristics__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    white-space: normal;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 0 20px 0 0;
    display: inline-block;
    vertical-align: top;
    color: $color--text-dark;
    overflow: hidden;
    &:after {
        content: ' ......................................................................................................................................................................................................................';
        white-space: nowrap;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.block-characteristics__title-text {
    background-color: $color--bg-main;
    position: relative;
    z-index: 2;
    padding: 0 2px 0 0;
}
.block-characteristics__value {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    white-space: normal;
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
}
/************************   CHARACTERISTICS end  *************************/

/************************   ADDITIONAL start  *************************/
.wrapper-additional {
    margin: 10px 0 0;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 9px 9px 19px;
    &.wrapper-additional--type-accent {
        border: solid 1px $color--bg-light;
        background-color: $color--bg-light;
    }
    &.wrapper-additional--type-solid {
        border: solid 1px rgba($color--text-main, 0.15);
    }
    &.wrapper-additional--type-dashed-dark {
        border: dashed 1px rgba($color--text-main, 0.15);
    }
    &.wrapper-additional--type-dashed-hover {
        border: dashed 1px $color--text-accent;
    }
}
.wrapper-additional__title {
    font-size: 15px;
}
.wrapper-additional__subtitle {
    font-size: 13px;
    margin: 10px 0 0;
}
.wrapper-additional__hidden {
    display: none;
}
.wrapper-additional__more {
    margin: 10px 0 20px;
    font-size: 13px;
    line-height: 18px;
}
.wrapper-additional__more-link {
    position: relative;
    line-height: 1em;
    margin: 0 25px 0 0;
    color: $color--text-light;
    border-bottom: dashed 1px rgba($color--text-dark, 0.5);
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    -ms-transition: color 0.3s, border-color 0.3s;
    -o-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
    display: inline;
    &:after {
        content: '\e802';
        display: block;
        position: absolute;
        width: 12px;
        height: 6px;
        font: 400 normal 6px/1em $font--family-icons;
        right: -18px;
        top: 5px;
    }
    &.wrapper-additional__more-link--state-active:after {
        content: '\e821';
    }
    &:hover {
        color: $color--text-hover;
        border-color: rgba($color--text-hover, 0.4);
    }
}




.block-additional {
    margin: 20px 0 0;
    position: relative;
}
.block-additional__input,
.block-additional__input:first-child {
    margin: 30px 0 0;
    float: left;
}
.block-additional__img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 3px 10px 20px 0;
}
.block-additional__title {
    margin: 0 0 0;
    font-size: 13px;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
}
.block-additional__price {
    line-height: 18px;
    margin: 2px 0 0;
    .price__current {
        font-size: 14px;
    }
    .price__old {
        font-size: 13px;
    }
    .rub:after {
        top: 0.16em;
    }
    .price__pay {
        display: inline-block;
        vertical-align: top;
        color: $color--text-light;
        font: 400 normal 13px/1em $font--family-icons;
        width: 20px;
        height: 13px;
        margin: 3px 0 0 8px;
        &:before {
            content: '\e818';
        }
    }
}
.block-additional__info-item {
    display: inline-block;
    vertical-align: top;
    margin: 2px 8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: $color--text-dark;
}
.block-additional__size {
    position: relative;
    padding: 0 0 0 25px;
    &:before {
        content: '\e811';
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin: -8px 0 0;
        font: 400 normal 16px/1em $font--family-icons;
        color: $color--text-light;
    }
}
.block-colors__color {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 2px 0 0;
    border: solid 1px $color--bd-main;
}
.block-additional__delivery {
    margin: 10px -8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: $color--text-light;
}
.block-additional__delivery-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 16px;
    margin: 0 8px 0 0;
    &:before {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 5px;
        font: 400 normal 10px/1em $font--family-icons;
    }
    &.block-additional__delivery-item--truck:before {
        content: '\e80e';
        font-size: 9px;
    }
    &.block-additional__delivery-item--self:before {
        content: '\e815';
    }
    a {
        color: $color--text-light;
        text-decoration: none;
        line-height: 1em;
        border-bottom: dashed 1px rgba($color--text-dark, 0.5);
        -webkit-transition: color 0.3s, border-color 0.3s;
        -moz-transition: color 0.3s, border-color 0.3s;
        -ms-transition: color 0.3s, border-color 0.3s;
        -o-transition: color 0.3s, border-color 0.3s;
        transition: color 0.3s, border-color 0.3s;
    }
    a:hover {
        color: $color--text-hover;
        border-color: rgba($color--text-hover, 0.4);
    }
}
/************************   ADDITIONAL end  *************************/

/************************   CITY SELECT start  *************************/
.city-select__search {
    max-width: 376px;
    margin: 18px 0 0;
}
.city-select__selection {
    margin: 30px 0 0;
}

.list--type-region {
    margin: 16px 0 0;
    .list__item {
        margin: 12px 0 0;
    }
}
.list--type-alphabet {
    margin: 16px 0 0;
    padding: 0 0 0 24px;
    position: relative;
    .list__item {
        margin: 12px 0 0;
    }
    .letter {
        font-size: 16px;
        text-transform: uppercase;
        position: absolute;
        display: block;
        left: 0;
        top: 12px;
        width: 20px;
    }
}

.city-select__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 397px;
}
/************************   CITY SELECT end  *************************/