/************************   CATEGORY start  *************************/
.block-category__item {
    &.block-category__item--type-preview {
        display: inline-block;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        padding-right: 10px;
    }
}
/************************   CATEGORY end  *************************/

/************************   CART start  *************************/
.block-cart__table {
    display: table;
    width: 100%;
    border-collapse: separate;
}
.block-cart__row,
.block-cart__row.block-cart__head {
    display: table-row;
    padding: 0;
    margin: 0;
    background-color: transparent;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.block-cart__row:hover {
    background-color: rgba($color--bg-light, 0.25);
}
.block-cart__title,
.block-cart__cell {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}
.block-cart__title {
    padding: 9px 15px;
    background-color: $color--bg-alter;
    &:first-child {
        float: none;
        width: 39.38%;
        padding: 13px 15px;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }
    &:first-child + & {
        display: table-cell;
        vertical-align: middle;
        padding: 13px 15px;
        width: 20.38%;
    }
    &:first-child + & + & {
        display: table-cell;
        vertical-align: middle;
        padding: 13px 15px;
        width: 20.38%;
        &:before {
            content: '';
            display: none;
        }
    }
    &:first-child + & + & + & {
        display: table-cell;
    }
    &:first-child + & + & + & + & {
        display: table-cell;
        vertical-align: middle;
        width: 3.23%;
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }
}
.block-cart__cell {
    border-bottom: solid 1px $color--bd-main;
    padding: 13px 15px;
    &:first-child {
        float: none;
        width: 39.38%;
        padding: 13px 15px;
    }
    &:first-child + &,
    &:first-child + & + & {
        margin: 0;
        width: 20.38%;
    }
    &:first-child + & + & {
        margin-top: 0;
    }
    &:first-child + & + & + & + & {
        width: 3.23%;
    }
}

.block-cart__cost {
    display: block;
    white-space: nowrap;
}
.block-cart__delete {
    position: static;
    margin: 0;
    right: auto;
    top: auto;
}

.block-total__title {
    width: 55.38%;
    padding-right: 5.38%;
}
.block-total__count {
    width: 20.31%;
    text-align: left;
}
.block-total__value {
    text-align: left;
    width: 18.93%;
}
/************************   CART end  *************************/

/************************   CART ITEM start  *************************/
.block-cart-price {
    margin: 0;
}
/************************   CART ITEM end  *************************/