/************************   BRAND CARD start  *************************/
.block-brand-card__pic {
    margin: 0 20px 0 0;
    float: left;
}
.block-brand-card__content {
    margin: -3px 0 0 340px;
}
/************************   BRAND CARD end  *************************/

/************************   CART start  *************************/
.block-cart__title {
    &:first-child {
        width: 70%;
    }
}
.block-cart__cell {
    &:first-child {
        width: 70%;
    }
    &:first-child + &,
    &:first-child + & + & {
        margin: 0 0 0 70%;
    }
    &:first-child + & + & {
        margin-top: 10px;
    }
}
/************************   CART end  *************************/

/************************   CART ITEM start  *************************/
.block-cart-item__delivery {
    .block-delivery__item {
        display: inline-block;
    }
    .block-delivery__item + .block-delivery__item {
        margin: 0 0 0 13px;
    }
}
/************************   CART ITEM end  *************************/

/************************   PRODUCT PAGE start  *************************/
.block-product-card__header {
    margin: 10px -10px 20px;
    font-size: 15px;
}
.block-product-card__comparision,
.block-product-card__favorites {
    display: inline-block;
}

.block-product-price__title {
    font-size: 20px;
    line-height: 26px;
}
.block-product-price__price {
    .price__pay {
        margin: 0 0 0 21px;
    }
    .price__current {
        font-size: 32px;
        line-height: 40px;
    }
    .price__old {
        font-size: 24px;
        line-height: 28px;
    }
}

.block-product-price__info {
    font-size: 14px;
}

.block-product-card__pack-table {
    td,
    td:first-child {
        width: 50%;
        font-size: 14px;
    }
}

.block-product-card__delivery-item {
    font-size: 14px;
}

.product-info {
    margin: 20px 0 0;
}
/************************   PRODUCT PAGE end  *************************/

/************************   BENEFITS start  *************************/
.block-benefit {
    margin: 30px 0 0;
}
/************************   BENEFITS end  *************************/