.pop-up {
	display: none;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: $color--bg-main;
	padding: 15px 20px 18px;
	width: 260px;
	font-size: 13px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.input--type-text {
		max-width: 376px;
	}
	.block-form__text {
		margin: 10px 0 0;
	}
	.input--type-textarea {
		height: 98px;
	}
	.block-cart__row {
		padding: 0;
		border-top: none;
	}
	.block-cart-item__img {
		margin-bottom: 10px;
	}
	.wrapper-additional {
		display: none;
	}
	.block-cart-price {
		font-size: 14px;
		line-height: 20px;
	}
	.block-cart__buttons {
		.button {
			display: block;
			width: auto;
		}
		.button + .button {
			margin: 10px 5px 0;
		}
	}
}
.pop-up__title {
	font-size: 18px;
	line-height: 22px;
	margin: 0 10px 0 0;
	font-weight: 500;
}
.pop-up_subtitle {
	font-size: 15px;
	line-height: 22px;
	margin: 21px 0 0;
}
.pop-up__heading {
	font-size: 20px;
	line-height: 24px;
}

.fancybox-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	z-index: 8040;
	color: $color--text-accent;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
	&:hover {
		color: $color--text-hover;
	}
	&:before {
		content: '\e808';
		display: block;
		width: 14px;
		height: 14px;
		font: 400 normal 14px/1em $font--family-icons;
	}
}