.pop-up {
    &.pop-up--size-small {
        width: 416px;
    }
    &.pop-up--size-medium {
        width: 546px;
    }
    &.pop-up--size-large {
        max-width: 620px;
        width: 100%;
    }
    &.pop-up--size-special {
        max-width: 710px;
        width: 100%;
    }
    &.pop-up--size-super {
        max-width: 880px;
        width: 100%;
    }
    &.pop-up--size-full {
        max-width: 1500px;
        width: 100%;
        padding: 0;
    }

    .wrapper-additional {
        display: block;
    }
    .block-cart__buttons {
        margin: 18px -7px 0;
        .button,
        .button + .button {
            margin: 0 7px;
            display: inline-block;
        }
    }
}
.fancybox-skin {
    margin: 10px 0;
}

.pop-up__title {
    font-size: 24px;
    line-height: 28px;
}
.pop-up_subtitle {
    font-size: 20px;
    line-height: 24px;
    margin: 16px 0 0;
}

.fancybox-close {
    top: -13px;
    right: -13px;
    width: 26px;
    height: 26px;
    background-color: $color--text-accent;
    color: $color--text-alter;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &:hover {
        background-color: $color--bd-hover;
        color: $color--text-alter;
    }
    &:before {
        margin: 6px;
    }
}