.pop-up {
    &.pop-up--size-large {
        width: 750px;
    }
    &.pop-up--size-special {
        width: 750px;
        max-width: 750px;
    }

    .wrapper-additional {
        display: block;
    }
    .block-cart__buttons {
        margin: 18px -7px 0;
        .button,
        .button + .button {
            margin: 0 7px;
            display: inline-block;
        }
    }
}